@font-face {
  font-family: 'Gelasio-Bold';
  src: url('../font/Gelasio-Bold.eot');
  src: url('../font/Gelasio-Bold.eot?#iefix') format('embedded-opentype'),
       url('../font/Gelasio-Bold.svg#Gelasio-Bold') format('svg'),
       url('../font/Gelasio-Bold.ttf') format('truetype'),
       url('../font/Gelasio-Bold.woff') format('woff'),
       url('../font/Gelasio-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gelasio-Regular';
  src: url('../font/Gelasio-Regular.eot');
  src: url('../font/Gelasio-Regular.eot?#iefix') format('embedded-opentype'),
       url('../font/Gelasio-Regular.svg#Gelasio-Regular') format('svg'),
       url('../font/Gelasio-Regular.ttf') format('truetype'),
       url('../font/Gelasio-Regular.woff') format('woff'),
       url('../font/Gelasio-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url('../font/Poppins-Bold.eot');
  src: url('../font/Poppins-Bold.eot?#iefix') format('embedded-opentype'),
       url('../font/Poppins-Bold.svg#Poppins-Bold') format('svg'),
       url('../font/Poppins-Bold.ttf') format('truetype'),
       url('../font/Poppins-Bold.woff') format('woff'),
       url('../font/Poppins-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-Medium';
  src: url('../font/Poppins-Medium.eot');
  src: url('../font/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
       url('../font/Poppins-Medium.svg#Poppins-Medium') format('svg'),
       url('../font/Poppins-Medium.ttf') format('truetype'),
       url('../font/Poppins-Medium.woff') format('woff'),
       url('../font/Poppins-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url('../font/Poppins-Regular.eot');
  src: url('../font/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
       url('../font/Poppins-Regular.svg#Poppins-Regular') format('svg'),
       url('../font/Poppins-Regular.ttf') format('truetype'),
       url('../font/Poppins-Regular.woff') format('woff'),
       url('../font/Poppins-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('../font/Roboto-Bold.eot');
  src: url('../font/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
       url('../font/Roboto-Bold.svg#Roboto-Bold') format('svg'),
       url('../font/Roboto-Bold.ttf') format('truetype'),
       url('../font/Roboto-Bold.woff') format('woff'),
       url('../font/Roboto-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('../font/Roboto-Medium.eot');
  src: url('../font/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
       url('../font/Roboto-Medium.svg#Roboto-Medium') format('svg'),
       url('../font/Roboto-Medium.ttf') format('truetype'),
       url('../font/Roboto-Medium.woff') format('woff'),
       url('../font/Roboto-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('../font/Roboto-Regular.eot');
  src: url('../font/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
       url('../font/Roboto-Regular.svg#Roboto-Regular') format('svg'),
       url('../font/Roboto-Regular.ttf') format('truetype'),
       url('../font/Roboto-Regular.woff') format('woff'),
       url('../font/Roboto-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gelasio-Bold';
  src: url('../font/Gelasio-Bold.eot');
  src: url('../font/Gelasio-Bold.eot?#iefix') format('embedded-opentype'),
       url('../font/Gelasio-Bold.svg#Gelasio-Bold') format('svg'),
       url('../font/Gelasio-Bold.ttf') format('truetype'),
       url('../font/Gelasio-Bold.woff') format('woff'),
       url('../font/Gelasio-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Gelasio-Medium';
  src: url('../font/Gelasio-Medium.eot');
  src: url('../font/Gelasio-Medium.eot?#iefix') format('embedded-opentype'),
       url('../font/Gelasio-Medium.svg#Gelasio-Medium') format('svg'),
       url('../font/Gelasio-Medium.ttf') format('truetype'),
       url('../font/Gelasio-Medium.woff') format('woff'),
       url('../font/Gelasio-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

