$fz-info:16px;
$ff-info:'Roboto';

.container {

    .bg {
        background: url(/img/main-screen__bgc.png) no-repeat;
        background-size: cover;
        height: 100vh;

    }

    header {
        position: relative;


        .logo {
            background-color: green;
            position: absolute;
            height: 40px;
            width: 40px;
            left: 80px;
            top: 40px;
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            padding-top: 48px;
            max-width: 745px;
            margin: 0 0 0 25vw;

            li {

                a {
                    color: white;
                    font-size: $fz-info;
                    font-family: $ff-info;

                    &:hover {
                        color: violet;
                    }

                }
            }
        }

        input {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            color: white;
            position: absolute;
            width: 183px;
            height: 44px;
            background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
            border-radius: 50px;
            top: 36px;
            right: 80px;
        }

        h1 {
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: $fz-info*4;
            line-height: 140%;
            color: white;
            margin-top: 198px;
            margin-left: 312px;
        }
    }
}