@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700;1,900&display=swap");
* {
  font-family: "Poppins";
  font-size: 10px;
}

* a {
  color: black;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
  -webkit-transform: scale(1);
          transform: scale(1);
}

* a:hover {
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 15px;
  width: 100%;
}

.active {
  font-weight: 700;
}

.active a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}

.active a::before {
  content: '';
  border-bottom: 2px solid black;
  position: absolute;
  width: 30%;
  height: 4px;
  left: 35%;
  top: 120%;
}

/* скрываем чекбокс */
#menu__toggle {
  opacity: 0;
}

/* стилизуем кнопку */
.menu__btn {
  display: none;
  /* используем flex для центрирования содержимого */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* центрируем содержимое кнопки */
  position: fixed;
  top: 82px;
  right: 10%;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1001;
}

/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
}

.menu__btn > span::before {
  content: '';
  top: -8px;
}

.menu__btn > span::after {
  content: '';
  top: 8px;
}

/* контейнер меню */
.header__menu__burger {
  display: block;
  position: fixed;
  visibility: hidden;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #ECEFF1;
  z-index: 100;
  -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
}

/* элементы меню */
.header__memu__item {
  display: block;
  padding: 12px 24px;
  text-decoration: none;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform .6s linear;
  transition: -webkit-transform .6s linear;
  transition: transform .6s linear;
  transition: transform .6s linear, -webkit-transform .6s linear;
  margin: 40px auto;
}

.header__memu__item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all .6s linear;
  transition: all .6s linear;
}

.header__memu__item a {
  font-size: 34px;
}

#menu__toggle:checked ~ .menu__btn > span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#menu__toggle:checked ~ .header__menu__burger {
  visibility: visible;
  top: 0;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.header__menu__burger {
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.header__memu__item {
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

header {
  background-color: rgba(56, 88, 4, 0.08);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 165px;
}

header .header__wrapper {
  max-width: 1440px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header .header__wrapper .header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 100px;
}

header .header__wrapper .header__logo a {
  -webkit-transform: none;
          transform: none;
}

header .header__wrapper .header__logo img {
  height: 64px;
  width: 64px;
}

header .header__wrapper .header__memu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header .header__wrapper .header__memu .header__memu__item {
  padding: 0 55px 0 0;
  font-family: "Poppins";
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header__wrapper .header__memu .header__memu__item a {
  font-size: 22px;
  font-family: "Poppins";
}

.header__menu__burger {
  display: none;
}

.title {
  font-family: "Poppins";
  font-weight: bold;
  line-height: 96px;
  font-size: 64px;
  max-width: 50%;
  min-width: 600px;
  color: #26313B;
}

.topic {
  max-width: 494px;
  width: 100%;
  font-family: "Poppins";
  font-size: 28px;
  line-height: 42px;
  font-weight: bold;
  padding-bottom: 50px;
}

.text {
  font-size: 24px;
  line-height: 36px;
  font-weight: normal;
  max-width: 494px;
}

footer .text {
  font-size: 22px;
}

.first__page {
  background-color: rgba(56, 88, 4, 0.08);
}

.btn {
  width: 307px;
  height: 78px;
  background-color: #385804;
  color: #fff;
  margin: 45px 0 0 0;
  -webkit-transition: -webkit-transform .6s linear;
  transition: -webkit-transform .6s linear;
  transition: transform .6s linear;
  transition: transform .6s linear, -webkit-transform .6s linear;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.btn:hover {
  -webkit-transition: -webkit-transform .6s linear;
  transition: -webkit-transform .6s linear;
  transition: transform .6s linear;
  transition: transform .6s linear, -webkit-transform .6s linear;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.combining {
  max-width: 1440px;
  min-height: 850px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.combining .combining__text {
  max-width: 662px;
  padding: 0 30px 0 0;
}

.combining .combining__text--img {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.combining .combining__text--img img {
  max-width: 602px;
  min-height: 902px;
  background-color: #c4c4c4;
  position: relative;
  top: 10%;
}

@media screen and (max-width: 1200px) {
  .combining .combining__text--img img {
    position: static;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 20% 0 0 15px;
  }
}

.yourroom {
  max-width: 1250px;
  margin: 250px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.yourroom .yourroom__text {
  width: 50%;
}

.yourroom__text--li {
  position: relative;
  display: list-item;
  margin: 0 0 35px 90px;
}

.yourroom__text--li::before {
  content: '';
  position: absolute;
  background-color: #385804;
  border-radius: 100%;
  left: -90px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 45px;
  height: 45px;
}

.choose {
  max-width: 1248px;
  width: 100%;
  min-height: 565px;
  color: #fff;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-color: #385804;
  z-index: 0;
}

.choose .btn {
  background-color: #fff;
  color: #385804;
  margin: 35px 0;
}

.choose .title {
  color: white;
  font-weight: 700;
  margin: 35px 0 35px 0;
}

.choose__img {
  background-color: #c4c4c4;
  max-width: 483px;
  max-height: 497px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 35px;
}

.living {
  max-width: 1247px;
  min-height: 1800px;
  width: 100%;
  margin: 150px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.living .living__column {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.living .living__column:first-child {
  width: 55%;
  min-width: 600px;
  margin-right: 5%;
  height: 90%;
}

.living .living__column:first-child .living__img {
  max-height: 1142px;
  height: 100%;
  width: 100%;
  background-color: #c4c4c4;
  display: block;
  margin: 65px 0 0 0;
}

.living .living__column .living__column__img {
  display: inline-block;
  background-color: #c4c4c4;
  width: 100%;
  min-height: 600px;
  height: 100%;
}

.living .living__column .textb {
  font-weight: bold;
  margin: 20px 0;
}

.dream__room {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dream__room h2.title {
  text-align: center;
  margin: 0 auto;
  max-width: 70%;
}

.dream__room .dream__room__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 80px 0;
}

.dream__room .dream__room--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.dream__room .dream__room--item .dream__room--img {
  background-color: #c4c4c4;
  width: 220px;
  height: 220px;
}

.dream__room .dream__room--item .text {
  margin: 24px 0;
  font-weight: bold;
}

footer {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0 0 100px 0;
  max-width: 1248px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer__menu {
  width: 45%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 13%;
          column-gap: 13%;
  -ms-grid-rows: 0.2fr 0.05fr 0.05fr 0.05fr;
      grid-template-rows: 0.2fr 0.05fr 0.05fr 0.05fr;
  row-gap: 23px;
}

footer .footer__menu a {
  min-width: 145px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

footer .footer__join {
  width: 35%;
}

footer .footer__join .title {
  font-size: 48px;
  line-height: 72px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

footer .footer__join form {
  font-size: 26px;
  position: relative;
}

footer .footer__join form::before {
  content: '';
  width: 70%;
  position: absolute;
  left: 0;
  top: 150%;
  height: 2px;
  background-color: black;
}

footer .footer__join form:-moz-placeholder {
  color: black;
}

footer .footer__join form .btn {
  width: 69px;
  height: 69px;
  border-radius: 10px;
  position: absolute;
  top: -200%;
  right: 5%;
}

footer .footer__join form .btn::after {
  width: 24px;
  height: 24px;
  content: '';
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  position: absolute;
  top: 35%;
  right: 40%;
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}

@media screen and (max-width: 768px) {
  .header__memu {
    display: none !important;
  }
  .menu__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__menu__burger {
    display: block;
  }
}
