/* <div class="hamburger-menu">
  <input id="menu__toggle" type="checkbox" />
  <label class="menu__btn" for="menu__toggle">
    <span></span>
  </label>
  <ul class="menu__box">
    <li><a class="menu__item" href="#"></a></li>
    <li><a class="menu__item" href="#"></a></li>
    <li><a class="menu__item" href="#"></a></li>
    <li><a class="menu__item" href="#"></a></li>
    <li><a class="menu__item" href="#"></a></li>
  </ul>
</div> */



.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    transition-duration: .25s;
    }

.menu__box {
    transition-duration: .25s;
    }

.menu__item {
    transition-duration: .25s;
    }

#menu__toggle {
    opacity: 0;
    }

.menu__btn {
    position: fixed;
    z-index : 1;
    top     : 20px;
    left    : 20px;

    display    : flex;
    align-items: center;

    width : 26px;
    height: 26px;

    cursor: pointer;
    }

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    position: absolute;

    display: block;

    width : 100%;
    height: 2px;

    background-color: #616161;
    }

.menu__btn>span::before {
    top: -8px;

    content: '';
    }

.menu__btn>span::after {
    top: 8px;

    content: '';
    }

.menu__box {
    position: fixed;
    z-index : 10;
    top     : 0;
    left    : -100%;

    display   : block;
    visibility: hidden;

    width  : 300px;
    height : 100%;
    margin : 0;
    padding: 80px 0;

    list-style: none;

    text-align: center;

    background-color: #ECEFF1;
    box-shadow      : 1px 0px 6px rgba(0, 0, 0, .2);
    }

.menu__item {
    display: block;

    font-family: 'Roboto', sans-serif;
    font-size  : 20px;
    font-weight: 600;

    padding: 12px 24px;

    text-decoration: none;

    color: #333;
    }

.menu__item:hover {
    background-color: #CFD8DC;
    }

#menu__toggle:checked~.menu__btn>span {
    transform: rotate(45deg);
    }

#menu__toggle:checked~.menu__btn>span::before {
    top: 0;

    transform: rotate(0);
    }

#menu__toggle:checked~.menu__btn>span::after {
    top: 0;

    transform: rotate(90deg);
    }

#menu__toggle:checked~.menu__box {
    left: 0;

    visibility: visible;
    }