.container .bg {
  background: url(/img/main-screen__bgc.png) no-repeat;
  background-size: cover;
  height: 100vh;
}

.container header {
  position: relative;
}

.container header .logo {
  background-color: green;
  position: absolute;
  height: 40px;
  width: 40px;
  left: 80px;
  top: 40px;
}

.container header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 48px;
  max-width: 745px;
  margin: 0 0 0 25vw;
}

.container header ul li a {
  color: white;
  font-size: 16px;
  font-family: "Roboto";
}

.container header ul li a:hover {
  color: violet;
}

.container header input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  position: absolute;
  width: 183px;
  height: 44px;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  border-radius: 50px;
  top: 36px;
  right: 80px;
}

.container header h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 140%;
  color: white;
  margin-top: 198px;
  margin-left: 312px;
}
