.text_r {
  font-family: "Poppins-Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  color: #8F95A5;
  text-transform: capitalize;
  margin-bottom: 36px;
}

.title_b {
  font-family: "Poppins-Bold";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 80px;
  color: #000000;
  text-transform: capitalize;
}

.title_sb {
  font-family: "Poppins-SemiBold";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 80px;
  color: #000000;
  text-transform: capitalize;
  margin-bottom: 27px;
}

.current_page_item {
  position: relative;
}

.current_page_item::before {
  content: '';
  background-color: currentColor;
  height: 1px;
  width: 100%;
  position: absolute;
  top: 105%;
}

body {
  max-width: 1340px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 145px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo p {
  font-size: 36px;
  line-height: 54px;
  color: #939393;
}

.header__logo p strong {
  color: #000000;
}

.menu_item:not(:last-child) {
  margin-right: 33px;
}

.header__btn {
  border: 2px solid #263238;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
  background-color: transparent;
  padding: 17px 57px;
}

h1.title_sb {
  font-weight: 600;
  font-size: 64px;
  line-height: 80px;
  text-transform: capitalize;
}

h2.title_sb {
  font-weight: 600;
  font-size: 48px;
  line-height: 80px;
  text-transform: capitalize;
  text-align: center;
}

h3.title_b {
  font-weight: 600;
  font-size: 30px;
  text-transform: capitalize;
  line-height: 80px;
}

.get-started {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 147px;
}

.get-started__info {
  max-width: 45%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.get-started__img {
  max-width: 45%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: centers;
     object-position: centers;
}

.get-started__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 40px;
}

.get-started__title h1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 70%;
          flex: 0 1 70%;
}

.get-started__title img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  width: 100%;
}

.get-started .btn {
  padding: 32px 118px;
  font-weight: normal;
  font-size: 36px;
  line-height: 54px;
  border-radius: 15px;
  width: 80%;
}

.btn {
  background-color: #263238;
  padding: 15px 52px;
  border-radius: 5px;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  font-family: "Poppins-Regular";
}

.btn::first-letter {
  text-transform: capitalize;
}

.skills h1.title_sb {
  margin-bottom: 92px;
}

.skills .skills-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 18px;
}

.skills .skills-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: first baseline;
      -ms-flex-pack: first baseline;
          justify-content: first baseline;
  background-color: #F5F5F5;
  padding: 5% 10%;
}

.skills .skills-list__item:first-child {
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
}

.skills .skills-list__item:last-child {
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.skills .skills-list__item:last-child img {
  max-width: 382px;
  width: 100%;
  height: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
