.text_r {
  font-family: "Poppins-Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  color: #8F95A5;
  margin-bottom: 36px;
}

a.text_r {
  color: #000000;
}

.title_b {
  font-family: "Poppins-Bold";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 76px;
  color: #000000;
  text-transform: capitalize;
}

.title_sb {
  font-family: "Poppins-SemiBold";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  color: #000000;
  text-transform: capitalize;
  margin-bottom: 27px;
}

.current_page_item {
  position: relative;
}

.current_page_item::before {
  content: '';
  background-color: currentColor;
  height: 1px;
  width: 100%;
  position: absolute;
  top: 105%;
}

body {
  max-width: 1340px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 75px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  font-size: 36px;
  line-height: 54px;
  color: #939393;
  margin: auto 0;
}

.logo strong {
  color: #000000;
}

.menu_item:not(:last-child) {
  margin-right: 33px;
}

.header__btn {
  border: 2px solid #263238;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
  background-color: transparent;
  padding: 17px 57px;
  margin: auto 0;
}

h1.title_sb {
  font-weight: 600;
  font-size: 64px;
  line-height: 76px;
  text-transform: capitalize;
}

h2.title_sb {
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  text-transform: capitalize;
  text-align: center;
}

h3.title_sb {
  font-weight: 600;
  font-size: 30px;
  text-transform: capitalize;
  line-height: 42px;
}

.get-started {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 147px;
}

.get-started__info {
  max-width: 45%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.get-started__img {
  max-width: 45%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: centers;
     object-position: centers;
}

.get-started__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 40px;
}

.get-started__title h1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 70%;
          flex: 0 1 70%;
}

.get-started__title img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  width: 100%;
}

.get-started .btn {
  padding: 32px 118px;
  font-weight: normal;
  font-size: 36px;
  line-height: 54px;
  border-radius: 15px;
}

.btn {
  background-color: #263238;
  padding: 15px 52px;
  border-radius: 5px;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  font-family: "Poppins-Regular";
}

.btn::first-letter {
  text-transform: capitalize;
}

.skills {
  margin-bottom: 282px;
}

.skills .skills-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 31% 31% 31%;
      grid-template-columns: 31% 31% 31%;
  -ms-grid-rows: 1fr 0.5fr;
      grid-template-rows: 1fr 0.5fr;
  gap: 18px;
  width: 100%;
}

.skills .skills-list__item {
  padding: 40px;
  background-color: #F5F5F5;
  border-radius: 10px;
}

.skills .skills-list__item img {
  width: 100%;
}

.skills .skills-list__item .text_r {
  font-size: 16px;
  line-height: 24px;
}

.skills .skills-list__item:nth-child(2) img {
  display: block;
  margin-left: auto;
  width: 80%;
}

.skills .skills-list__item:first-child {
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
}

.skills .skills-list__item:last-child {
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skills .skills-list__item:last-child .info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
}

.skills .skills-list__item:last-child img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 35%;
          flex: 0 1 35%;
  width: 50%;
  -o-object-fit: contain;
     object-fit: contain;
}

.about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
  margin-bottom: 222px;
}

.about-us__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 60%;
          flex: 1 0 60%;
}

.about-us__info .title_sb {
  text-align: left;
}

.about-us img {
  width: 30%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.about-us .achievements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.about-us .achievements__item {
  font-family: "Poppins-SemiBold";
  font-size: 48px;
  line-height: 80px;
  font-weight: 600;
  color: #2A3246;
  text-align: center;
}

.about-us .achievements__item p {
  font-family: "Poppins-SemiBold";
  font-size: 20px;
  line-height: 30px;
  color: #8F95A5;
}

.pricing {
  margin-bottom: 250px;
}

.pricing h2 {
  text-align: center;
  margin-bottom: 83px;
}

.pricing .pricing-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pricing .pricing-list__item {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pricing .pricing-list__item img {
  height: 283px;
  margin-bottom: 15px;
}

.pricing .pricing-list__item .price {
  background-color: #eeeeee;
  font-size: 18px;
  line-height: 45px;
  color: #546269;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 7px 24px;
  margin-top: auto;
}

.pricing .pricing-list__item .price span {
  font-family: "Poppins-Regular";
  font-size: 30px;
  line-height: 45px;
  font-style: normal;
  font-weight: normal;
  color: #263238;
}

.contact-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 133px;
}

.contact-us__img {
  max-width: 477px;
  width: 40%;
  margin-right: 10px;
}

.contact-us__info {
  padding: 0 15px;
  width: 55%;
}

.contact-us .title_sb {
  font-size: 48px;
  line-height: 80px;
  margin-bottom: 37px;
}

.contact-us .text_r {
  font-size: 20px;
  line-height: 30px;
}

.contact-us form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-item-align: center;
      align-self: center;
}

.contact-us form input {
  width: 60%;
  border: 1px solid #8F95A5;
  border-radius: 10px;
  font-size: 16px;
  line-height: 24px;
  padding: 25px;
  color: #8F95A5;
  margin-bottom: 0;
  color: #000;
  margin-right: 10px;
}

.contact-us form input::-webkit-input-placeholder {
  opacity: 0.7;
}

.contact-us form input:-ms-input-placeholder {
  opacity: 0.7;
}

.contact-us form input::-ms-input-placeholder {
  opacity: 0.7;
}

.contact-us form input::placeholder {
  opacity: 0.7;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 0 0;
  border-top: #939393 1px solid;
}

.footer .footer-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer__link:not(:first-child) {
  margin-left: 40px;
  position: relative;
  display: list-item;
}

.footer__link:not(:first-child)::marker {
  color: currentColor;
  font-size: 20px;
  margin-left: 2px;
}

@media screen and (max-width: 992px) {
  .text_r {
    font-size: 20px;
    line-height: 30px;
  }
  a.text_r {
    font-size: 16px;
    line-height: 24px;
    color: #000000;
  }
  .title_sb {
    font-size: 48px;
    line-height: 64px;
  }
  .get-started .btn {
    padding: 22px 78px;
  }
  .get-started {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .text_r {
    font-size: 16px;
    line-height: 24px;
  }
  .title_sb {
    font-size: 36px;
    line-height: 45px;
  }
  .get-started .btn {
    padding: 19px 67px;
  }
  .header__menu {
    display: none;
  }
  .hamburger-menu {
    display: block !important;
  }
}

@media screen and (max-width: 575px) {
  .text_r {
    font-size: 16px;
    line-height: 24px;
  }
  .title_sb {
    font-size: 34px;
    line-height: 45px;
    text-align: center;
  }
  .get-started .btn {
    padding: 24px 101px;
  }
}

@media screen and (max-width: 320px) {
  .text_r {
    font-size: 14px;
    line-height: 21px;
  }
  .title_sb {
    font-size: 24px;
    line-height: 36px;
    text-align: center;
  }
  .get-started .btn {
    padding: 18px 99px;
  }
}
