@import url(/css/fonts.css);
@import url(/css/icon.css);
$hb      : 'Poppins-Bold';
$hsb     : 'Poppins-SemiBold';
$hr      : 'Poppins-Regular';
$pb      : 'OpenSans-Bold';
$pr      :'OpenSans-Regular';
$psb     : 'OpenSans-semi-bold';
$pc      : #3D0012;
$pc80    : #A30031;
$pc60    : #FF0A54;
$pc40    : #FFA3BF;
$pc20    : #FFD6E3;
$overlay2: #E5E5E5;
$bgc     : rgba($color: #000000, $alpha: 0.4);
$title-c : #222F5D;
$text-c  : #79799B;
$field-c : #CCCCCC;
$lg      : 1440px;
$lp      : 1230px;
$tablet  : 768px;
$mobile  : 425px;

.title_b {
    font-family: $hb;
    font-size  : 64px;
    line-height: 88px;
}

.title_sb {
    font-family: $hsb;
    font-size  : 64px;
    line-height: 88px;
}

.title_r {
    font-family: $hr;
    font-size  : 64px;
    line-height: 88px;
}

.text_r {
    font-family: $pr;
    font-size  : 16px;
    line-height: 28px;
}

.text_sb {
    font-family: $psb;
    font-size  : 16px;
    line-height: 28px;
}

.text_b {
    font-family: $pb;
    font-size  : 16px;
    line-height: 28px;
}

// ==================================================================ICOMOON================================
.icon-Vector:before {
    display  : inline-block;
    transform: translate(50%, 15%);
    color    : #FF0F54;
}

.icon-Email:before {
    content     : "\e900";
    color       : #fff;
    width       : 16px;
    height      : 16px;
    margin-right: 20px;
}

.icon-home:before {
    content: "\e901";
}

.icon-office:before {
    content     : "\e902";
    color       : #fff;
    width       : 16px;
    height      : 16px;
    margin-right: 20px;
}

.icon-Phone:before {
    content     : "\e903";
    color       : #fff;
    width       : 16px;
    height      : 16px;
    margin-right: 20px;
}

.icon-play:before {
    content: "\e904";
}

.icon-school:before {
    content: "\e905";
}

.icon-social:before {
    content: "\e906";
}

.icon-thimbup:before {
    content: "\e907";
}

// =============================================burger
.menu-btn {
    // display: flex;
    display    : none;
    align-items: center;
    position   : absolute;
    top        : 35px;
    right      : 40px;
    width      : 52px;
    height     : 52px;
    cursor     : pointer;
    z-index    : 11;
}

.menu-btn>span,
.menu-btn>span::before,
.menu-btn>span::after {
    display            : block;
    position           : absolute;
    width              : 100%;
    height             : 3px;
    background-color   : #000;
    transition-duration: .25s;
}

.menu-btn>span::before {
    content: '';
    top    : -16px;
}

.menu-btn>span::after {
    content: '';
    top    : 16px;
}

.menubox {
    display            : block;
    position           : fixed;
    visibility         : hidden;
    top                : -100%;
    left               : 0%;
    width              : 100%;
    height             : 100%;
    margin             : 0;
    padding            : 80px 0;
    list-style         : none;
    background-color   : #A30031;
    box-shadow         : 1px 0px 6px rgba(0, 0, 0, .2);
    transition-duration: .25s;
    z-index            : 10;
}

.menu-item {
    display            : block;
    padding            : 40px 24px;
    width              : 100% !important;
    text-align         : center;
    color              : #333;
    font-size          : 40px;
    font-weight        : 600;
    text-decoration    : none;
    transition-duration: .25s;
    font-family        : $hb;
}

.menu-item:hover {
    background-color: #CFD8DC;
}

#menu-toggle {
    opacity: 0;
}

#menu-toggle:checked~.menu-btn>span {
    transform: rotate(45deg);
}

#menu-toggle:checked~.menu-btn>span::before {
    top      : 0;
    transform: rotate(0);
}

#menu-toggle:checked~.menu-btn>span::after {
    top      : 0;
    transform: rotate(90deg);
}

#menu-toggle:checked~.menubox {
    visibility: visible;
    top       : 0;
}

// ==========================================================media==================================
@media screen and (max-width: 1000px) {
    section.about-us {
        flex-direction: column;

        img.about-us__img {
            width: 100%;
        }

    }

    div.library {
        flex-direction: column;

        &__info {
            position: static;

        }
    }


    div.teachers-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows   : 1fr 1fr 1fr 1fr;
    }

    .tab-container div.tab {
        flex-direction: column;
        max-height    : fit-content;

        div.tab__video {
            width    : 100%;
            max-width: none;

        }
    }


}

@media screen and (max-width: $tablet) {
    .header__wrapper {}

    h3.title_b {
        margin: 40px 0;
        font-size  : 32px;
        line-height: 42px;
    }

    .menu-btn {
        display : flex;
        position: fixed;
    }

    div.header__menu__list {
        display: none;
    }

    a.active {
        &::before {
            border-bottom: transparent;
        }
    }

    div.swiper-wrapper {
        height    : fit-content;
        max-height: 770px;
        margin-top: 60px;
    }

    div.swiper__item {
        height: 450px;

        span.slide__text {
            font-size: 15px;
        }
    }

    div.swiper-button-next,
    div.swiper-button-prev {
        display: none;
    }

    div.contact-us {


        &__container {
            flex-direction: column;
            margin: 0;
        }

        &__item {
            max-width: 70%;

            &:not(:last-child) {

                margin-bottom: 60px;
            }
        }
    }

    div.page-item {
        flex-direction: column;

        img.page-item__img {
            order        : 1 !important;
            margin-bottom: 20px;
            min-height: 400px;
            height: 100%;
        }
    }

    div.guru__item {
        flex-direction: column;
        width         : 100%;

        img {
            max-width: none;
        }
    }

    div.guru__info {
        max-width: none;
        width    : 100%;

        h3.title_b {
            margin-top: 20px;
        }
    }

    div.our-story__container{
        flex-direction: column;
    }
    div.our-story__item:first-child{
        margin-bottom: 40px;
    }
    
    div.achievements__item{
        flex: 0 1 50%;
    }
}

@media screen and (max-width: $mobile) {

    h1.title_b,
    h2.title_b,
    h3.title_b {
        font-size  : 28px !important;
        line-height: 36px !important;
    }



    .features {
        &__info {
            position     : relative !important;
            right        : 0 !important;
            bottom       : 0 !important;
            margin-bottom: 10px !important;
        }
    }

    .features__imgs {
        display: none !important;
    }

    .teacher__name {
        font-size  : 24px !important;
        line-height: 34px !important;
    }

    .teachers-grid__item {
        min-height: 280px !important;

        &:hover {
            .teacher__info {
                top: 20% !important;
            }
        }
    }

    .teacher__info {
        top: 60% !important;
    }

    .instagram-feed__item {
        min-height: 360px !important;
    }

    .tab-schedule ul.schedule__activity li,
    .tab-schedule ul.schedule__time li {
        font-size: 16px;
    }


    .library__img.swiper-slide {
        min-height: 400px;
    }

    div.library__info {
        padding: 0 15px;
    }

    div.swiper7 {
        margin-bottom: 20px;
    }

    a.menu-item {
        font-size: 24px;
        padding  : 20px;
    }

    .achievements div.achievements-container{
        justify-content: center;
    }


}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
li {
    color: $title-c;
}

body {
    display        : flex;
    flex-direction : column;
    justify-content: space-between;
    width          : 100%;
}

.header {
    background-color: $bgc;

    a {
        color      : #fff;
        font-family: $pr;
    }

    .header__wrapper {
        height         : 120px;
        max-width      : $lp;
        margin         : 0 auto;
        display        : flex;
        justify-content: space-between;
        align-items    : center;
        padding        : 0 15px;

        .logo {
            padding: 5px;
        }
    }
}

.header__item.active {
    width          : fit-content;
    cursor         : default;
    position       : relative;
    text-decoration: none;

    &::before {
        content : '';
        width   : 100%;
        position: absolute;
    }
}

.menu-list__item {
    color       : #fff;
    width       : fit-content;
    margin-right: 56px;

    &:last-child {
        margin: 0;
    }

    display          : inline-block;
    vertical-align   : middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform        : perspective(1px) translateZ(0);
    box-shadow       : 0 0 1px rgba(0, 0, 0, 0);
    position         : relative;
    overflow         : hidden;

    &:before {
        content                           : "";
        position                          : absolute;
        z-index                           : -1;
        left                              : 0;
        right                             : 100%;
        bottom                            : 0;
        background                        : currentColor;
        height                            : 2px;
        -webkit-transition-property       : right;
        transition-property               : right;
        -webkit-transition-duration       : 0.3s;
        transition-duration               : 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function        : ease-out;
    }

    &:hover:before,
    &:focus:before,
    &:active:before {
        right: 0;
    }
}

.greetings-page {
    background-color: rgba($color: #000000, $alpha: 0.4);

    .greetings-page__wrapper {
        max-width: $lp;
        margin   : 0 auto;
        padding  : 0 15px;
    }

    .title_b {
        max-width    : 756px;
        font-size    : 64px;
        line-height  : 88px;
        margin-bottom: 24px;
        color        : #fff;
    }

    .text_r {
        font-size    : 16px;
        line-height  : 28px;
        max-width    : 609px;
        margin-bottom: 56px;
        color        : #fff;
    }
}

.btn {
    padding         : 24px 40px;
    background-color: $pc60;
    font-weight     : 600;
    font-family     : $psb;
    font-size       : 16px;
    line-height     : 32px;
    color           : #fff;
    text-transform  : capitalize;
    border-radius   : 8px;
    cursor          : pointer;
    margin-bottom   : 96px;
    width           : fit-content;
}

.schools {
    margin-bottom: 208px;
    position     : relative;

    .schools__list {
        max-width      : $lg;
        margin         : 0 auto;
        display        : flex;
        flex-direction : row;
        flex-wrap      : wrap;
        justify-content: space-between;

        .school__item {
            flex      : 0 0 25%;
            display   : block;
            height    : 424px;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
            position  : relative;

            span {
                text-transform: capitalize;
                font-size     : 24px;
                line-height   : 32px;
                font-family   : $hb;
                color         : #fff;
                position      : absolute;
                bottom        : 48px;
                transform     : translate(-50%, 0);
                left          : 50%;
            }

            img {
                width          : 100%;
                height         : 100%;
                object-fit     : cover;
                object-position: center;
            }
        }
    }
}

.about-us {
    display       : flex;
    flex-direction: row;
    max-width     : $lp + 30px;
    margin        : 0 auto;
    margin-bottom : 160px;
    position      : relative;
    padding       : 0 15px;

    .about-us__info {
        flex        : 0 0 40%;
        max-width   : $lp;
        margin      : 0 auto;
        margin-right: 4%;

        .text {
            max-width    : 576px;
            width        : 100%;
            margin-bottom: 56px;
            font-weight  : normal;
            font-size    : 16px;
            line-height  : 28px;
        }
    }

    .about-us__img {
        width          : 50%;
        object-fit     : cover;
        object-position: center;
    }

    .bgr-image {
        width   : 100%;
        height  : 100%;
        z-index : -1;
        position: absolute;
        top     : 257px;
    }
}

h3.title_sb {
    font-family   : $hsb;
    font-style    : normal;
    font-weight   : 600;
    font-size     : 16px;
    line-height   : 24px;
    text-transform: capitalize;
    color         : #FF0A54;
    margin-bottom : 16px;
}

h2.title_b {
    font-family  : $hb;
    font-style   : normal;
    font-weight  : bold;
    font-size    : 48px;
    line-height  : 64px;
    color        : $title-c;
    margin-bottom: 16px;
}

.features {
    max-width    : $lp+30px;
    width        : 100%;
    margin       : 0 auto;
    position     : relative;
    margin-bottom: 160px;
    padding      : 0 15px;
    height       : fit-content;

    .features__info {
        position        : absolute;
        max-width       : 728px;
        width           : 100%;
        padding         : 40px;
        background-color: #fff;
        right           : 5%;
        bottom          : 20%;
        margin-bottom   : 164px;
        box-shadow      : 0px 5px 10px 2px rgba(34, 60, 80, 0.2);

        .features__text {
            margin-bottom: 16px;
        }

        .read__more {
            font-family: $pb;
            font-weight: bold;
            font-size  : 16px;
            line-height: 32px;
            color      : #FF0A54;
        }
    }

    .features__imgs {
        display              : grid;
        width                : 100%;
        overflow             : hidden;
        grid-template-rows   : 1fr 390px;
        grid-template-columns: 1fr 1fr;
        grid-auto-flow       : 1fr;
        gap                  : 36px 16px;

        .features__img {
            &:first-child {
                max-width        : 95%;
                min-height       : 697px;
                object-fit       : cover;
                object-position  : center;
                grid-row-start   : 1;
                grid-row-end     : 2;
                grid-column-start: 1;
                grid-column-end  : 2;
            }

            grid-row-start : 2;
            grid-row-end   : 3;
            max-width      : 608px;
            width          : 100%;
            min-height     : 390px;
            object-fit     : cover;
            object-position: center;
        }
    }
}

.skills {
    max-width    : $lp;
    width        : 100%;
    margin       : 0 auto;
    margin-bottom: 160px;

    .skills__info {
        max-width    : $lp;
        width        : 100%;
        margin       : 0 auto;
        margin-bottom: -50px;
        font-family  : $pr;
        font-style   : normal;
        font-weight  : normal;
        font-size    : 16px;
        line-height  : 28px;
        color        : $text-c;
        padding      : 0 15px;

        .text {
            max-width: 615px;
        }
    }
}

.swiper-wrapper {
    max-width  : $lp;
    width      : 100%;
    margin     : 0 auto;
    height     : 770px;
    align-items: flex-end;
}

.swiper__item {
    width   : 400px;
    height  : 670px;
    position: relative;
    padding : 0 8px;

    img {
        width     : 100%;
        height    : 100%;
        object-fit: cover;
    }

    .slide__text {
        width      : 70%;
        text-align : center;
        color      : #fff;
        font-size  : 32px;
        line-height: 48px;
        position   : absolute;
        bottom     : 48px;
        left       : 50%;
        transform  : translate(-50%, 0);
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    }
}

.swiper-button-next,
.swiper-button-prev {
    top          : 24px;
    background   : #FF0A54;
    border-radius: 8px;
    height       : 48px;
    width        : 48px;
    overflow     : visible;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    color    : white;
    transform: scale(0.6);
}

.swiper-button-prev {
    left: calc(100% - 120px);
}

.swiper-button-next {
    right: 0%;
}

.teachers {
    max-width    : $lp+30px;
    margin       : 0 auto;
    margin-bottom: 160px;

    .text_r,
    .title_sb,
    .title_b {
        max-width    : 608px;
        margin       : 0 auto;
        text-align   : center;
        margin-bottom: 16px;

        &:last-child {
            margin-bottom: 48px;
        }
    }
}

.teachers-grid {
    padding              : 0 15px;
    display              : grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows   : 1fr 1fr;
    gap                  : 24px 16px;

    .teachers-grid__item {
        border-radius   : 8px;
        max-width       : 296px;
        min-height      : 367px;
        background-color: $text-c;
        position        : relative;
        transition      : all 0.6s ease-in-out;
        z-index         : 1;

        .overlay-box {
            height          : 100%;
            width           : 100%;
            background-color: rgba($pc60, $alpha: 0.9);
            position        : absolute;
            display         : block;
            top             : 0;
            left            : 0;
            transition      : all 0.6s ease-in-out;
            z-index         : -1;
            opacity         : 0;
        }

        .teacher__img {
            object-fit     : cover;
            object-position: center;
            height         : 100%;
            width          : 100%;
            z-index        : 1;
        }

        .teacher__info {
            position  : absolute;
            height    : 38%;
            width     : 100%;
            top       : 75%;
            left      : 50%;
            transform : translate(-50%, 0);
            transition: all .6s ease-in-out;
            z-index   : 3;

            .teacher__name {
                font-size    : 30px;
                line-height  : 38px;
                color        : #FFFFFF;
                text-shadow  : 0px 0px 10px rgba(0, 0, 0, 0.5);
                margin-bottom: 4px;
            }

            .teacher__position {
                font-weight  : 600;
                font-size    : 12px;
                line-height  : 24px;
                color        : #FFFFFF;
                margin-bottom: 40px;
            }

            .teacher__links {
                display        : flex;
                flex-direction : row;
                justify-content: center;
                margin         : 0 auto;
                opacity        : 0;
            }
        }

        &:hover {
            .teacher__info {
                top: 30%;
            }

            .overlay-box {
                opacity   : 1;
                z-index   : 2;
                transition: all .6s ease-in-out;
            }

            .teacher__links {
                opacity   : 1;
                transition: all ease-in-out .6s;
            }
        }
    }
}

.teacher__link,
.social-link {
    width        : 40px;
    height       : 40px;
    background   : #FFFFFF;
    color        : $pc60;
    border-radius: 20px;
    margin       : 0 2px;
    font-size    : 16px;
    text-align   : center;
    line-height  : 40px;
    display      : inline-block;

    a {
        margin: 0 auto;
    }
}

.instagram-feed {
    max-width: $lg;
    margin   : 0 auto;
    padding  : 0 15px;
    width    : 100%;

    .instagram-feed__info {
        max-width: $lp;
        margin   : 0 auto;
        width    : 100%;

        .text_r {
            max-width    : 608px;
            margin-bottom: 48px;
            width        : 100%;
        }
    }

    &__slider {
        max-width    : $lp;
        width        : 100%;
        margin       : 0 auto;
        margin-bottom: 80px;
        overflow     : hidden;

        .swiper-wrapper {
            height: fit-content;

            .instagram-feed__item {
                object-fit      : cover;
                object-position : center;
                max-width       : 296px;
                width           : 100%;
                min-height      : 463px;
                margin-right    : 16px;
                background-color: $field-c;
            }
        }
    }
}

.footer {
    background-color: $pc80;
    width           : 100%;

    &__wrapper {
        max-width      : $lp;
        width          : 100%;
        padding        : 0 15px;
        margin         : 96px auto;
        display        : flex;
        flex-direction : row;
        flex-wrap      : wrap;
        justify-content: space-between;
        position       : relative;
    }

    .footer__copyright {
        flex: 0 0 32%;

        .logo {
            margin-bottom: 24px;
        }

        .text_r {
            margin-bottom: 90px;
            color        : #fff;
        }
    }

    .footer__links {
        margin-bottom: 50px;
    }

    .footer-items {
        flex: 0 0 16%;

        .footer__item {
            color        : #fff;
            font-family  : $psb;
            font-weight  : 600;
            font-size    : 16px;
            line-height  : 32px;
            margin-bottom: 8px;
            display      : list-item;

            a {
                color: #FFFFFF;
            }

            &:first-child {
                font-family  : $hb;
                font-style   : normal;
                font-weight  : bold;
                font-size    : 16px;
                line-height  : 24px;
                margin-bottom: 24px;
            }
        }
    }

    .footer-contacts {
        flex: 0 0 25%;

        .contacts {
            font-size    : 16px;
            line-height  : 24px;
            color        : #FFFFFF;
            margin-bottom: 24px;
        }

        .adress,
        .tel,
        .mail {
            margin-bottom: 20px;
            display      : block;
            color        : #fff;
        }
    }
}

.copyright {
    position: absolute;
    right   : 0;
    bottom  : 0;
    color   : #fff;
}

// ================================================Classes
.chapter {
    background-color: $bgc;
    width           : 100%;
    min-height      : 340px;
    margin-bottom   : 88px;

    .chapter-wrapper {
        max-width: $lp+30px;
        padding  : 0 15px;
        width    : 100%;
        margin   : 0 auto;

        h1 {
            color: #fff;
        }
    }
}

.tab-container {
    max-width    : $lp+30px;
    width        : 100%;
    margin       : 0 auto;
    padding      : 0 15px;
    margin-bottom: 160px;

    .title_b {
        margin-bottom: 28px;
    }

    .work-time {
        &__item {
            font-size  : 16px;
            line-height: 24px;

            &:not(:first-child) {
                border-left : 1px solid currentColor;
                margin-left : 21px;
                padding-left: 21px;
            }
        }

        margin-bottom: 40px;
    }

    .tab {
        width          : 100%;
        max-height     : 458px;
        display        : flex;
        flex-direction : row;
        justify-content: space-between;
        margin-bottom  : 48px;

        &__video {
            max-width       : 66%;
            width           : 100%;
            background-color: $bgc;
            object-fit      : cover;
            object-position : center;
            border-radius   : 8px;
            margin-right    : 16px;

            video {
                width : 100%;
                height: 100%;
            }
        }

        .tablist {
            display        : flex;
            flex-direction : column;
            justify-content: space-around;
            max-width      : 33%;
            width          : 100%;
            border         : 1px solid #E1E1E1;
            box-sizing     : border-box;
        }
    }

    .active {
        color           : #fff;
        background-color: $pc60;

        .icon-Vector {
            &::before {
                color: #fff !important;
            }
        }
    }

    .tab-text {
        &__item {
            margin-bottom: 24px;
        }

        margin-bottom: 48px;
    }
}

.icon-Vector {
    &::before {
        position : absolute;
        right    : 8%;
        top      : 50%;
        transform: translate(0, -50%);
        color    : $bgc;
    }
}

.tablist__item {
    width           : 100%;
    padding         : 28px 8%;
    font-size       : 24px;
    line-height     : 32px;
    color           : $text-c;
    position        : relative;
    background-color: transparent;
    text-align      : left;
    cursor          : pointer;
    font-weight     : 700;
    font-family     : $pb;
}

.tablist__item.active {
    color           : #fff;
    background-color: $pc60;

    &::before {
        color: #fff !important;
    }
}

.swiper3,
.swiper4,
.swiper5,
.swiper6 {
    max-height   : 242px;
    max-width    : $lp;
    width        : 100%;
    overflow     : hidden;
    margin-bottom: 120px;
}

.tab-wrapper.swiper-wrapper {
    max-height: 242px;
}

.tab-wrapper__item.swiper-slide {
    max-width          : 24%;
    width              : 100%;
    height             : 100%;
    background-color   : $bgc;
    // margin-right    : 1%;s
    object-fit         : cover;
    object-position    : center;
    border-radius      : 8px;
}

.tab-schedule {
    max-width            : $lp;
    margin               : 0 auto;
    width                : 100%;
    display              : grid;
    grid-template-columns: 0.58fr 1fr;

    .schedule__activity,
    .schedule__time {
        display: grid;

        li {
            margin     : 64px 0;
            font-family: $hr;
            font-style : normal;
            font-weight: normal;
            font-size  : 24px;
            line-height: 38px;
            color      : $title-c;

            &:last-child {
                margin-bottom: 0;
            }

            &:first-child {
                background-color: $title-c;
                height          : 112px;
                width           : 100%;
            }
        }

        .title_b {
            height     : 100%;
            color      : #fff;
            display    : flex;
            font-size  : 24px;
            line-height: 32px;
            align-items: center;
        }
    }

    .schedule__time {
        li {
            padding-left: 17.6%;
        }
    }
}

.contact-us {
    background-color: $bgc;

    &__container {
        max-width      : $lp+30px;
        padding        : 0 15px;
        margin         : 0 auto;
        display        : flex;
        justify-content: space-between;
        flex-direction : row;
        flex-wrap      : wrap;
        margin-top     : 96px;
    }

    &__item {
        flex: 0 1 45%;

        h3.title_b {
            color: #fff;
        }

        .text_r {
            color        : $field-c;
            max-width    : 90%;
            margin-bottom: 72px;
        }
    }
}

.tabcontent {
    display: none;
}

// ==========================================TEACHERS
.guru {
    max-width      : $lp+30px;
    padding        : 0 15px;
    width          : 100%;
    margin         : 0 auto;
    display        : flex;
    flex-direction : column;
    justify-content: space-between;

    &__item {
        display        : flex;
        flex-direction : row;
        justify-content: space-between;
        padding        : 80px 0 80px 0;

        &:first-child {
            padding-top: 120px;
        }

        &:not(:last-child) {
            border-bottom: 1px solid #e1e1e1;
        }

        img {
            flex            : 0 1 41%;
            max-width       : 41%;
            width           : 100%;
            background-color: $text-c;
            margin-right    : 20px;
            object-fit      : cover;
            object-position : center;
        }
    }

    &__info {
        max-width: 55%;
        width    : 100%;

        .title_b {
            font-size    : 48px;
            line-height  : 64px;
            color        : $title-c;
            margin-bottom: 16px;
        }

        .guru__position {
            font-family  : $hsb;
            font-weight  : 600;
            font-size    : 24px;
            line-height  : 32px;
            color        : $text-c;
            margin-bottom: 24px;
        }

        .guru__text {
            font-family: $pr;
            font-style : normal;
            font-weight: normal;
            font-size  : 16px;
            line-height: 28px;
            color      : $title-c;
        }

        .guru__links {
            margin-top: 48px;

            .teacher__link {
                color           : $pc60;
                background-color: $pc20;
            }
        }
    }
}

.education {
    max-width    : $lp +30px;
    padding      : 0 15px;
    margin       : 0 auto;
    margin-top   : 88px;
    margin-bottom: 160px;

    .title_b {
        font-size    : 48px;
        text-align   : center;
        margin-bottom: 40px;
    }

    .text_r {
        font-size    : 16px;
        line-height  : 28px;
        text-align   : center;
        color        : #79799B;
        margin-bottom: 40px;
    }

    &__video {
        background-color: $text-c;
        width           : 100%;
        object-fit      : cover;
        object-position : center;
    }
}

.page-item {
    max-width      : $lp+30px;
    margin         : 0 auto;
    padding        : 0 15px;
    display        : flex;
    justify-content: space-between;
    flex-direction : row;
    margin-bottom  : 160px;

    .title_b {
        margin-bottom: 40px;
    }

    &:nth-child(even) {


        .page-item__img {
            order: 2;
        }

        .page-item__info {
            order        : 1;
            padding-right: 15px;
        }
    }

    &:nth-child(odd) {


        .page-item__img {
            order       : 2;
            margin-right: 15px;
        }
    }

    &__img {
        flex            : 0 1 48%;
        width           : 100%;
        border-radius   : 8px;
        background-color: $field-c;
        order           : 1;
    }

    &__info {
        flex : 0 1 45%;
        width: 100%;
        order: 2;

        .text_r {
            margin-bottom: 24px;
        }
    }
}

.library {
    max-width      : $lp + 30px;
    width          : 100%;
    margin         : 0 auto;
    padding        : 0 15px;
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
    margin-bottom  : 160px;
    position       : relative;

    .swiper7 {
        position: relative;
        flex    : 0 1 70%;
        overflow: hidden;

        .swiper-wrapper {}

        .swiper-slide {
            background-color: $field-c;
            width           : 100%;
            height          : 100%;
        }
    }

    &__info {
        max-width          : 695px;
        width              : 100%;
        padding            : 48px 56px;
        background-color   : #fff;
        position           : absolute;
        z-index            : 2;
        top                : 8vh;
        right              : -3vw;
        // transform       : translate(-30%, -50%);

        .title_b {
            margin-bottom: 40px;
        }

        .text_r {
            margin-bottom: 24px;
        }
    }
}

.achievements {
    background-color: $bgc;
    width           : 100%;
    margin-bottom   : 160px;

    .achievements-container {
        display        : flex;
        justify-content: space-between;
        flex-wrap      : wrap;
        align-items    : center;
        flex-direction : row;
        max-width      : $lp + 30px;
        min-height     : 424px;
        height         : 100%;
        width          : 100%;
        margin         : 0 auto;
        padding        : 0 15px;
    }

    &__item {
        flex  : 0 1 180px;
        width : 100%;
        margin: 20px 0;

        span {
            color        : #fff;
            font-size    : 64px;
            display      : block;
            margin       : 0 auto;
            text-align   : center;
            margin-bottom: 16px;
        }

        .title_b {
            color     : #fff;
            text-align: center;
        }

        .text_r {
            text-transform: capitalize;
            color         : #fff;
            text-align    : center;
            font-size     : 24px;
            line-height   : 32px;
        }
    }
}

.our-story {
    max-width            : $lp + 30px;
    padding              : 0 15px;
    margin               : 0 auto;
    margin-bottom        : 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;



    &__video {
        object-fit       : cover;
        object-position  : center;
        width            : 100%;
        height           : 100%;
        background-color : $bgc;
        margin-bottom: 56px;

    }

    &__item {
        &:not(:last-child){
            margin-right: 64px;
        }
        .title_b {
            margin-bottom: 32px;
        }
    }

    &__container{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
}

.crestview {
    background-color: $bgc;
    width           : 100%;
    min-height      : 504px;
    margin-bottom   : 160px;

    .title_b {
        text-align   : center;
        color        : #Fff;
        margin-bottom: 72px;
        margin-top   : 144px;
    }

    .btn {
        margin : 0 auto;
        width  : fit-content;
        display: block;
        margin-bottom: 160px;
    }
}

.our-history {
    max-width: $lp + 30px;
    padding  : 0 15px;
    margin   : 0 auto;

    .title_b {
        margin-bottom: 40px;
        text-align   : center;
    }
}