@import url("css/__normalize.css");
.top-menu {
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
}

.top-menu .top-menu__buttons {
  padding: 5px 20px;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.top-menu .top-menu__buttons li {
  list-style: none;
  text-align: center;
  margin: auto;
}

.top-menu .top-menu__buttons a {
  background-color: #122975;
  padding: 20px;
  border: 2px solid black;
  -webkit-box-shadow: -0px -5px black;
          box-shadow: -0px -5px black;
  border-radius: 20px;
  color: wheat;
}

.text-background {
  max-width: 800px;
  margin: 0 auto;
}

.text-background h1 a {
  color: black;
}

.text-background .articles li::marker {
  color: red;
}

.grid-example {
  max-width: 600px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.171);
}

.grid-example .grid-example__bg {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 200px 1fr;
      grid-template-columns: 1fr 200px 1fr;
  -ms-grid-rows: (1fr)[8];
      grid-template-rows: repeat(8, 1fr);
}

.grid-example .grid-example__bg #grid1 {
  background-color: green;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 4;
}

.grid-example .grid-example__bg #grid2 {
  background-color: #7e8000;
}

.grid-example .grid-example__bg #grid4 {
  background-color: #241e18;
}

.grid-example .grid-example__bg #grid5 {
  background-color: #756f67;
}

.grid-example .grid-example__bg #grid6 {
  background-color: #ffc077;
}

.grid-example .grid-example__bg #grid7 {
  background-color: #00804f;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
}

.grid-example .grid-example__bg #grid8 {
  background-color: #7c0080;
}
