@font-face {
    font-family: 'Conv_plumb-medium';
    src: url('/fonts/plumb-medium.eot');
    src: local('☺'), url('fonts/plumb-medium.woff') format('woff'), url('/fonts/plumb-medium.ttf') format('truetype'), url('/fonts/plumb-medium.svg') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_plumb-bold';
    src: url('/fonts/plumb-bold.eot');
    src: local('☺'), url('/fonts/plumb-bold.woff') format('woff'), url('/fonts/plumb-bold.ttf') format('truetype'), url('/fonts/plumb-bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_CRC55';
    src: url('/fonts/CRC55.eot');
    src: local('☺'), url('/fonts/CRC55.woff') format('woff'), url('/fonts/CRC55.ttf') format('truetype'), url('/fonts/CRC55.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_CRC35';
    src: url('/fonts/CRC35.eot');
    src: local('☺'), url('/fonts/CRC35.woff') format('woff'), url('/fonts/CRC35.ttf') format('truetype'), url('/fonts/CRC35.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@import url(/css/__normalize.css);
// ===================================================================
$ff1m :'Conv_plumb-medium';
$ff1b :'Conv_plumb-bold';
$ff2r :'Conv_CRC35';
$ff2b :'Conv_CRC55';
$md1: 576px;
$md2: 768px;
$md3: 992px;
$md4: 1200px;
$md5: 1400px;
$maxw: 1110px;
$blue: rgba(35,
120,
252,
1);
$aqua: rgba(48,
188,
201,
1);
$yellow: rgba(255,
196,
30,
1);
$red: rgba(246,
64,
79,
1);
$ice: rgba(250,
243,
227,
1);
.show {
    display: block !important;
    opacity: 1;
    transition: all .8s;
}

// ===================================================================
a {
    color: #fff;
    font-family: $ff2r;
}

a:hover {
    color: $yellow;
    border-bottom: 1px solid currentColor;
}

.title {
    padding: 0;
    margin: 0;
    font-family: $ff1b;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 160%;
    text-transform: uppercase;
    color: #FFFFFF;
}

.title-event {
    font-family: $ff2r !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 21px !important;
    line-height: 130% !important;
    letter-spacing: -0.01em !important;
    color: $red !important;
}

.subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 140%;
    color: #FFFFFF;
}

span.icon-Arrow-1::after {
    font-size: 7px;
}

.about {
    font-family: $ff2r;
    font-style: normal;
    font-size: 16px;
    line-height: 135%;
    color: #FFFFFF;
}

* {
    font-family: $ff1m;
}

a.icon-Arrow-1::after {
    position: absolute;
    top: 35%;
    right: -45%;
    font-size: 9px;
}

// ===================================================================
//                                      BURGER MENU
.hamburger-menu {
    height: 0;
}


/* скрываем чекбокс */

#menu__toggle {
    opacity: 0;
    height: 0;
}


/* стилизуем кнопку */

.menu__btn {
    display: flex;
    /* используем flex для центрирования содержимого */
    align-items: center;
    /* центрируем содержимое кнопки */
    position: fixed;
    top: 26px;
    right: 100px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 10;
    padding: 20px;
    @media (min-width: $md4) {
        display: none;
    }
}


/* добавляем "гамбургер" */

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #fff;
}

.menu__btn>span::before {
    content: '';
    top: -10px;
}

.menu__btn>span::after {
    content: '';
    top: 10px;
}


/* контейнер меню */

.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    overflow-y: scroll;
    top: 0;
    top: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}


/* элементы меню */

.menu__item {
    display: block;
    padding: 50px 24px;
    color: #333;
    font-family: $ff2b;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
}

.menu__item:hover {
    background-color: #CFD8DC;
}

#menu__toggle:checked~.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked~.menu__btn>span::before {
    top: 0;
    transform: rotate(0);
    background-color: #fff;
}

#menu__toggle:checked~.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
    background-color: #Fff;
}

#menu__toggle:checked~.menu__box {
    visibility: visible;
    top: 0;
}


/* Анимация */

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    transition-duration: .25s;
}

.menu__box {
    transition-duration: .25s;
}

.menu__item {
    transition-duration: .25s;
}

// =============================================================================================================================================================================================================================================================
.wrapper {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/img/bgc.jpg);
    width: 100%;
    background-size: cover;
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        top: 89px;
        border-bottom: 1px solid #fff;
    }
}

.header {
    font-family: $ff2r;
    max-width: 1560px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 36px 5px 32px;
    position: relative;
    font-size: 16px;
    .header__logo {
        margin: -3px 0 0 0;
        flex: 0 0 176px;
    }
    .header__menu {
        margin: 0 auto;
        justify-content: space-around;
        .header__menu__item {
            display: flex;
            flex: 1 1 1207px;
            flex-direction: row;
            justify-content: space-around;
            li {
                flex: 0 1 auto;
                margin: 0 24px;
            }
            a {
                width: fit-content;
            }
        }
    }
    .header__eng-search {
        margin-right: 126px;
        position: relative;
        .icon-Search {
            font-size: 18px;
            position: absolute;
            left: 5px;
            top: -5px;
        }
    }
    a {
        position: relative;
        .icon-Globe {
            padding-right: 10px;
            font-size: 18px;
            position: absolute;
            left: -32px;
            top: -4px;
        }
    }
}

.expo {
    max-width: $maxw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .text {
        margin-top: 184px;
        padding-left: 20px;
        .subtitle {
            padding: 8px 0 25px;
            max-width: 360px;
            font-size: 24px;
            line-height: 140%;
            font-family: $ff2r;
        }
    }
    .plates {
        margin-top: 304px;
        display: flex;
        width: 570px;
        flex-direction: row;
        flex-wrap: wrap;
        align-self: flex-end;
        padding-bottom: 24px;
        justify-content: space-between;
        .plates__item {
            width: 255px;
            height: fit-content;
            padding: 30px 40px;
            margin: 2px 0 30px 30px;
            a {
                position: relative;
            }
            p {
                font-family: $ff2b;
                font-weight: 500;
                font-size: 21px;
                line-height: 130%;
                padding-bottom: 15px;
                letter-spacing: -0.01em;
                color: #FFFFFF;
            }
            &:nth-child(1) {
                background-color: $blue;
            }
            &:nth-child(2) {
                background-color: $aqua;
            }
            &:nth-child(3) {
                background-color: $yellow;
            }
            &:nth-child(4) {
                background-color: $red;
            }
        }
    }
}

.wrapper-1 {
    background-color: $blue;
    .categories {
        display: flex;
        flex-direction: row;
        max-width: $maxw;
        margin: 0 auto;
        flex: 0 1 auto;
        flex-wrap: wrap;
        justify-content: space-between;
        .categories__item {
            padding: 75px 20px 78px 0;
            display: flex;
            flex-direction: column;
            flex: 1 1 220px;
            flex: 0 0 auto;
            &:last-child {
                padding: 75px 0 78px;
            }
            .categories__name {
                font-weight: 500;
                font-size: 30px;
                line-height: 130%;
                letter-spacing: -0.01em;
                margin: 0px 0px 20px;
                color: #FFFFFF;
            }
            .radio {
                display: none;
            }
            .tab_item {
                a {
                    display: block;
                    font-family: $ff2r;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 135%;
                    color: #FFFFFF;
                    padding-top: 15px;
                }
            }
        }
    }
}

.wrapper-2 {
    background-color: $yellow;
    .events {
        max-width: $maxw;
        margin: 0 auto;
        .events__title {
            font-family: $ff2r;
            font-style: normal;
            font-weight: 500;
            font-size: 30px;
            line-height: 130%;
            position: relative;
            letter-spacing: -0.01em;
            color: #2E373B;
            padding: 75px 0px 54px;
            #o1,
            a,
            span {
                position: absolute;
                top: 42px;
                right: 0;
                font-family: $ff1m;
                font-style: normal;
                font-weight: 500;
                font-size: 21px;
                line-height: 130%;
                color: #2E373B;
                border-bottom: 1px solid black;
            }
            a {
                margin-right: 40px;
                width: 165px;
            }
            span {
                border-bottom: transparent;
            }
            .icon-Arrow-1::after {
                font-size: 10px;
                padding: 0;
            }
        }
        .event-cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 0 5px 0;
            .events__item {
                display: flex;
                flex-direction: column;
                width: 350px;
                padding-bottom: 9px;
                &:last-child {
                    padding-bottom: 61px;
                    @media (max-width: $md4) {
                        padding-bottom: 20px;
                    }
                }
                img {
                    margin-bottom: 22px;
                }
                p,
                .date {
                    font-family: $ff2r;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 135%;
                    color: #2E373B;
                    padding-bottom: 10px;
                }
            }
        }
    }
}

.views {
    background-color: $ice;
    .views-wrap {
        max-width: $maxw;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        // flex-wrap       : wrap;
        justify-content: space-between;
        .views__ad {
            display: flex;
            flex-direction: column;
            padding: 75px 5px 84px;
            img {
                &:first-child {
                    padding-bottom: 59px;
                }
            }
        }
        .views__rows {
            padding: 75px 0 54px 115px;
            flex: 1 1 auto;
            .rows__header {
                font-family: $ff1m;
                font-style: normal;
                font-weight: 500;
                font-size: 30px;
                line-height: 130%;
                letter-spacing: -0.01em;
                color: #2E373B;
                position: relative;
                a {
                    top: 0;
                    right: 0;
                    font-family: $ff1m;
                    position: absolute;
                    font-weight: 500;
                    font-size: 21px;
                    line-height: 130%;
                    letter-spacing: -0.01em;
                    text-decoration-line: underline;
                    color: #2E373B;
                    span {
                        border: none;
                    }
                }
            }
            .views__item {
                display: flex;
                flex-direction: row;
                width: 530px;
                margin: 30px 0;
                .info {
                    .date {
                        padding: 15px 30px;
                        font-size: 16px;
                        line-height: 135%;
                        color: #F6404F;
                    }
                    .text {
                        padding: 0 30px;
                        font-weight: 500;
                        font-size: 21px;
                        line-height: 130%;
                        letter-spacing: -0.01em;
                        color: #2E373B;
                    }
                }
            }
        }
    }
}

footer {
    background-color: $aqua;
    .wrapper-3 {
        padding: 60px 0;
        .categories {
            max-width: $maxw;
            margin: 0 auto;
            display: grid;
            grid-template: repeat(8, 45px) / repeat(4, 1fr);
            #k1 {
                grid-row-start: 1;
                grid-row-end: 5;
                grid-column-start: 1;
                grid-column-end: 2;
                margin: 0;
            }
            #k2 {
                grid-row-start: 5;
                grid-row-end: 9;
                grid-column-start: 1;
                grid-column-end: 2;
            }
            #k3 {
                grid-row-start: 1;
                grid-row-end: 5;
                grid-column-start: 2;
                grid-column-end: 3;
                margin: 0;
            }
            #k4 {
                grid-row-start: 5;
                grid-row-end: 9;
                grid-column-start: 2;
                grid-column-end: 3;
            }
            #k5 {
                grid-row-start: 1;
                grid-row-end: 5;
                grid-column-start: 3;
                grid-column-end: 4;
                margin: 0;
            }
            #k6 {
                grid-row-start: 4;
                grid-row-end: 7;
                grid-column-start: 3;
                grid-column-end: 4;
            }
            #k7 {
                grid-row-start: 1;
                grid-row-end: 5;
                grid-column-start: 4;
                grid-column-end: 5;
                margin: 0;
            }
            #k8 {
                grid-row-start: 3;
                grid-row-end: 9;
                grid-column-start: 4;
                grid-column-end: 5;
            }
            .categories__item {
                display: flex;
                flex-direction: column;
                justify-self: self-start;
                flex: 0 0 25%;
                height: fit-content;
                &:nth-child(even) {
                    .categories__name {
                        margin: 40px 0 0 0;
                    }
                }
                .categories__name {
                    font-weight: 500;
                    font-size: 21px;
                    line-height: 130%;
                    letter-spacing: -0.01em;
                    // padding        : 60px 0 8px;
                    color: #FFFFFF;
                }
                .categories__name__links {
                    padding-bottom: 30px;
                }
                p {
                    font-family: $ff2r;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 135%;
                    color: #FFFFFF;
                    padding-top: 10px;
                }
                &:last-child {
                    padding-bottom: 122px;
                }
                .links {
                    a {
                        &:first-child {
                            margin-left: 8px;
                        }
                        &::before {
                            font-size: 24px;
                            margin: 0 14px;
                            padding-top: 1px;
                        }
                    }
                }
                .gp-is {
                    a {
                        &:first-child {
                            img {
                                padding: 15px 0 20px;
                            }
                        }
                    }
                }
                .search {
                    position: relative;
                    margin: 25px 0;
                    .search-area {
                        font-family: $ff2r;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 135%;
                        display: flex;
                        align-items: center;
                        color: #9C9C9C;
                        width: 80%;
                        height: 40px;
                        padding: 0 20px;
                        position: relative;
                    }
                    .search-btn {
                        position: absolute;
                        right: 0;
                        top: 0;
                        height: 40px;
                        width: 20%;
                        background-color: $red;
                    }
                    .icon-rectangular-speech-bubble {
                        position: absolute;
                        right: 18px;
                        top: 12px;
                        color: #fff;
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

//===================================================================MEDIA=================================================================================================== 
@media (max-width: $md1) {
    .hamburger-menu {
        .menu__btn {
            right: 10% !important;
        }
    }
    .expo {
        .text {
            .title {
                font-size: 10vw;
                margin: 75px auto;
                padding: 0 5px;
            }
            .subtitle {
                font-size: 30px;
                margin: 0 auto;
            }
        }
        .plates {
            .plates__item {
                width: 100%;
                text-align: left;
                margin: 10px 0;
                p {
                    font-size: 24px;
                    text-align: left;
                }
            }
        }
    }
    .wrapper-1 {
        .categories {
            .categories__item {
                margin: 10px 0;
                width: 100%;
                padding: 30px 0;
                box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
                cursor: pointer;
                &:last-child {
                    padding: 30px !important;
                }
                .categories__name {
                    font-size: 30px;
                    margin: 0;
                    cursor: pointer;
                }
                .tab_item {
                    font-size: 18px;
                    padding: 0;
                    margin: 25px 0;
                    opacity: 0;
                    display: none;
                    transition: all .8s;
                    a {
                        font-size: 26px;
                        line-height: 135%;
                        color: #FFFFFF;
                        padding-top: 40px;
                    }
                }
            }
        }
        // .categories__item :checked~.tab_item {
        //     display: block;
        //     opacity: 1;
        //     transition: all .8s;
        //     /* Показываем активную вкладку */
        // }
        .categories__item input {
            display: none;
        }
    }
    .wrapper-2 {
        .events {
            .events__title {
                padding: 45px 0px 54px;
                text-align: center;
                #o1,
                a,
                span {
                    position: relative;
                    top: 10px;
                    text-align: center;
                    border: none;
                }
            }
            .event-cards {
                justify-content: space-around;
                .events__item {
                    margin: 20px 0;
                    border-bottom: 1px solid black;
                    &:first-child {
                        border-top: transparent;
                    }
                    a {
                        div,
                        p {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
    .views {
        .views-wrap {
            .views__ad {
                width: 100%;
                margin: 0 auto;
                padding: 5px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            flex-wrap: wrap;
            .views__rows {
                margin: 0 auto;
                .views__item {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    img {
                        object-fit: cover;
                        object-position: center;
                    }
                }
            }
        }
    }
    footer {
        .wrapper-3 {
            .categories {
                display: flex;
                flex-direction: column;
                .categories__item {
                    margin: 0 auto !important;
                    text-align: center;
                    padding: 30px 0 30px;
                    img {
                        padding: 10px 20px;
                    }
                    .categories__name {
                        font-size: 24px;
                    }
                    p {
                        font-size: 18px;
                        padding: 20px 0;
                    }
                    .search {
                        position: relative;
                        .search-area {}
                        .search-btn {}
                        .icon-rectangular-speech-bubble ::after {
                            position: absolute;
                        }
                    }
                }
            }
        }
    }
}

//========================================================================================================TABLET============================================================================================================================
@media (max-width: $md3) {
    .views {
        .views-wrap {
            .views__ad {
                width: 80%;
                margin: 0 auto;
                padding: 20px 0;
            }
            flex-wrap: wrap;
            .views__rows {
                .views__item {
                    width: 100%;
                }
            }
        }
    }
}

//========================================================================================================LAPTOP============================================================================================================================
@media (max-width: $md4) {
    .hamburger-menu {
        .menu__btn {
            right: 5%;
        }
    }
    .wrapper {
        &::after {
            content: '';
            position: fixed;
            width: 100%;
            top: 89px;
            border-bottom: 1px solid #fff;
        }
    }
    .header {
        padding-left: 25px;
        position: fixed;
        background-color: black;
        width: 100%;
        z-index: 1;
        .header__logo {
            padding-left: 25px;
        }
        .header__menu {
            .header__menu__item {
                display: none;
            }
        }
        .header__eng-search {
            display: none;
        }
        a {
            display: none;
        }
    }
    .expo {
        text-align: center;
        flex-wrap: wrap;
        .text {
            margin: 100px auto;
            padding: 5px;
            .subtitle {
                font-size: 30px;
                padding: 30px 0;
            }
            .about {
                font-size: 30px;
            }
        }
        .title {
            font-size: 40px;
            padding: 25px;
        }
        .plates {
            margin: 0 auto;
            margin-top: 100px;
        }
    }
    .wrapper-1 {
        .categories {
            justify-content: space-around;
            text-align: center;
            padding: 30px;
            .categories__item {
                padding: 30px;
                &:last-child {
                    padding: 30px 0;
                }
            }
        }
    }
    .wrapper-2 {
        .events {
            .event-cards {
                justify-content: space-around;
            }
        }
    }
    .views {
        .views-wrap {
            .views__ad {}
            .views__rows {
                padding: 20px;
                .views__item {
                    width: 100%;
                }
            }
        }
    }
}

//====================================================================================================================================================================================================================================