@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url("/css/__normalize.css");
.container .about__text, .container .about__colums1 .about__colums1__title, .container .about__colums1 .about__colums1__text, .container .about__colums2 .about__colums2__title, .container .about__colums2 .about__colums2__text, .container .about__colums3 .about__colums3__title, .container .about__colums3 .about__colums3__text, .container-background .our-partners__title, .container-background .contact__area .input-form .input-form__info .input-form__info__text, .container-background .contact__area .input-form .input-form__info p, .container-background .contact__area .input-form .input-form__info a, .container-background .contact__area .input-form__input-area .input-form__input-area3 #send-btn, footer .footer-container .footer-container__links a, footer .footer-container .footer-container__rights {
  font-size: 14px;
  text-align: center;
  height: 66px;
  font-family: 'Lato', sans-serif;
  color: #969595;
}

.container .about__line {
  text-align: center;
  margin: 0 auto;
  width: 105px;
  border-bottom: 2px solid white;
  padding-top: 2%;
}

header {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

header .header-top {
  background-image: url(/img/BG-Header.png);
  background-size: cover;
  background-position: center;
  width: "device-width";
  height: 100%;
  z-index: 1;
}

.header-top__logo {
  background: url(/img/logo.png) no-repeat center;
  padding: 165px 0;
  z-index: 2;
}

.header-top__phrase1 {
  font-size: 34px;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: white;
  letter-spacing: 5px;
  text-shadow: 1px 1px;
}

@media screen and (min-width: 768px) {
  .header-top__phrase1 {
    font-size: 20px;
  }
}

.header-top__phrase2 {
  font-size: 34px;
  font-family: 'Lato', sans-serif;
  text-align: center;
  color: white;
  letter-spacing: 5px;
  padding: 26px 0;
}

.header-top__line {
  text-align: center;
  margin: 0 auto;
  width: 105px;
  border-bottom: 2px solid white;
  padding-top: 2%;
}

.header-top__btn a {
  margin-top: 5%;
  display: inline-block;
  font-family: 'Lato', sans-serif;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 1px solid white;
  margin-left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  padding: 16px 40px 18px 40px;
  color: white;
}

.header-top__btn a:hover {
  color: black;
}

.header-top__arrow {
  background-image: url(/img/Arrow-down.png);
  width: 20px;
  height: 8px;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding-top: 75px;
}

.header-bottom__line {
  border-bottom: 1px solid #f2f2f2;
}

.header-bottom {
  height: 58px;
  margin: 0 auto;
  max-width: 900px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-bottom__menu {
  max-width: 560px;
  margin: 0 auto;
}

.header-bottom__menu a {
  float: left;
  color: #3c3c3c;
  width: 90px;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  margin: 20px 25px;
}

.header-bottom__menu a:hover {
  color: #ada074;
}

.container .about__colums1, .container .about__colums2, .container .about__colums3 {
  width: 300px;
  margin: 65px auto;
  float: left;
}

.container .about__colums1 .about__colums1__icon, .container .about__colums2 .about__colums2__icon, .container .about__colums3 .about__colums3__icon {
  width: 43px;
  height: 30px;
  color: #ada074;
  padding: 46px;
  background-repeat: no-repeat;
  border: 1px solid #f0f0f0;
  border-radius: 50px;
  background-position: center;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .container .about__colums1 .about__colums1__icon, .container .about__colums2 .about__colums2__icon, .container .about__colums3 .about__colums3__icon {
    display: none;
  }
}

.container .about__colums1 .about__colums1__title, .container .about__colums2 .about__colums2__title, .container .about__colums3 .about__colums3__title, .container-background .container-bottom .portfolio__title {
  font-size: 22px;
  letter-spacing: 4px;
  color: black;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  margin-top: 40px;
}

@media screen and (max-width: 800px) {
  .container .about__colums1 .about__colums1__title, .container .about__colums2 .about__colums2__title, .container .about__colums3 .about__colums3__title, .container-background .container-bottom .portfolio__title {
    font-size: 14px;
    letter-spacing: normal;
  }
}

.container .about__colums1 .about__colums1__text, .container .about__colums2 .about__colums2__text, .container .about__colums3 .about__colums3__text {
  min-height: 170px;
  margin: 0 auto;
  width: 184px;
  line-height: 26px;
  font-family: 'Lato', sans-serif;
}

.container {
  margin: 0 auto 68px;
  max-width: 900px;
  height: 580px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .about__title {
  font-family: 'Lato', sans-serif;
  font-size: 26px;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 8px;
  margin-top: 188px;
}

.container .about__line {
  border-color: black;
  width: 83px;
}

.container .about__text {
  line-height: 1.857;
  max-width: 688px;
  height: auto;
  padding-top: 40px;
  margin-left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.container .about__colums1 .about__colums1__icon {
  background-image: url(/img/web.png);
}

.container .about__colums2 .about__colums2__icon {
  background-image: url(/img/phones.png);
}

.container .about__colums3 .about__colums3__icon {
  background-image: url(/img/marketing.png);
}

.container-background .portfolio__column .portfolio_colum1, .container-background .portfolio__column .portfolio_colum2, .container-background .portfolio__column .portfolio_colum3, .container-background .portfolio__column .portfolio_colum4, .container-background .portfolio__column .portfolio_colum5, .container-background .portfolio__column .portfolio_colum6 {
  max-width: 538px;
  max-height: 365px;
  width: 100%;
  height: 100%;
  float: left;
  margin: 20px 30px;
  background-color: #eaeaea;
}

@media screen and (max-width: 788px) {
  .container-background .portfolio__column .portfolio_colum1, .container-background .portfolio__column .portfolio_colum2, .container-background .portfolio__column .portfolio_colum3, .container-background .portfolio__column .portfolio_colum4, .container-background .portfolio__column .portfolio_colum5, .container-background .portfolio__column .portfolio_colum6 {
    float: none;
    width: auto;
    height: auto;
  }
}

.container-background {
  background-color: #f3f3f3;
}

.container-background .portfolio__column {
  width: 1200px;
  height: 1300px;
  margin: 0 auto;
}

.container-background .read__more a {
  display: inline-block;
  font-family: 'Lato', sans-serif;
  color: #3d3d3d;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 1px solid black;
  margin-left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  padding: 16px 40px 18px 40px;
  margin-bottom: 64px;
  color: black;
}

.container-background .read__more a:hover {
  color: white;
}

.container-background .container-bottom {
  margin: 0 auto;
  max-width: 900px;
  text-align: center;
}

.container-background .container-bottom .portfolio__title {
  font-size: 34px;
  text-transform: uppercase;
  font-weight: bold;
}

.container-background .container-bottom .portfolio__line {
  padding-top: 40px;
  border-bottom: 1px solid black;
  margin: 0 auto;
  width: 80px;
}

.container-background .container-bottom .portfolio__link {
  height: 50px;
  margin: 0 auto;
  max-width: 340px;
}

.container-background .container-bottom .portfolio__link a {
  padding: 25px 24px;
  font-family: 'Lato', sans-serif;
  color: black;
  float: left;
  text-decoration: none;
}

.container-background .container-bottom .portfolio__link a:hover {
  color: #ada074;
}

.container-background .our-partners__background {
  height: 100%;
  width: 100%;
  height: 390px;
  margin: 0 auto;
  position: relative;
  background-image: url(/img/our-partners.png);
  background-size: cover;
  background-position: center;
}

.container-background .our-partners__background .our-partners {
  width: "device-width";
  height: 390px;
  z-index: 1;
}

.container-background .our-partners__title {
  color: white;
  position: relative;
  letter-spacing: 1.5px;
  font-weight: 300;
  max-width: 200px;
  margin: 0px auto 100px;
  padding: 100px 0px 0px;
  font-size: 30px;
}

.container-background .our-partners__filials {
  width: 500px;
  margin: 0 auto;
}

.container-background #fil1, .container-background #fil2, .container-background #fil3, .container-background #fil4 {
  width: 36px;
  height: 47px;
  z-index: 3;
  color: white;
  float: left;
  background-repeat: no-repeat;
  display: block;
  margin: 0 30px;
}

.container-background #fil1 {
  background-image: url(/img/logo-1.png);
}

.container-background #fil2 {
  background-image: url(/img/logo-2.png);
  height: 63px;
  width: 50px;
}

.container-background #fil3 {
  background-image: url(/img/logo-3.png);
  width: 53px;
  height: 63px;
}

.container-background #fil4 {
  background-image: url(/img/logo-4.png);
  width: 105px;
  height: 45px;
}

.container-background .contact__area {
  background-color: #fff;
}

.container-background .contact__area .contact__title {
  text-transform: uppercase;
  font-size: 33.713px;
  font-family: 'Lato', sans-serif;
  color: black;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  padding: 105px 0 0;
}

.container-background .contact__area .contact__line {
  width: 81px;
  margin: 0 auto;
  border-bottom: 1px solid black;
  padding: 20px 0;
}

.container-background .contact__area .input-form {
  max-width: 900px;
  margin: 0 auto;
  padding: 120px 0px 0px;
  height: 600px;
}

.container-background .contact__area .input-form .input-form__info {
  width: 50%;
  margin: 0 0 0 50%;
}

.container-background .contact__area .input-form .input-form__info .input-form__info__text {
  color: black;
  text-align: left;
  line-height: 25px;
}

.container-background .contact__area .input-form .input-form__info p {
  font-weight: bold;
  color: black;
  text-align: left;
  margin: 40px 0 10px;
  height: 15px;
}

.container-background .contact__area .input-form .input-form__info #social-links #link-f {
  background-image: url(/img/Facebook.png);
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  border: 2px solid black;
  border-radius: 20px;
  background-position: center;
  display: inline-block;
  margin: 0 0 20px;
}

.container-background .contact__area .input-form .input-form__info #social-links #link-in {
  background-image: url(/img/in.png);
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid black;
  border-radius: 20px;
  display: inline-block;
  margin: 0 0 20px;
}

.container-background .contact__area .input-form .input-form__info a {
  color: black;
  width: 200px;
}

.container-background .contact__area .input-form__input-area {
  float: left;
  margin-right: 80px;
  width: 381px;
  height: 366px;
}

.container-background .contact__area .input-form__input-area #text-info {
  width: 100px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  color: black;
  padding-bottom: 20px;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
}

.container-background .contact__area .input-form__input-area input {
  width: 100%;
  height: 118px;
  border-top: 1px solid black;
  background-color: #f8f7f7;
}

.container-background .contact__area .input-form__input-area .input-form__input-area1 {
  width: 160px;
  display: inline-block;
  margin-right: 50px;
}

.container-background .contact__area .input-form__input-area .input-form__input-area1 #inp-name {
  height: 36px;
}

.container-background .contact__area .input-form__input-area .input-form__input-area2 {
  width: 160px;
  display: inline-block;
}

.container-background .contact__area .input-form__input-area .input-form__input-area2 #inp-email {
  height: 36px;
}

.container-background .contact__area .input-form__input-area .input-form__input-area3 {
  width: 381px;
  margin: 70px 0;
  display: inline-block;
}

.container-background .contact__area .input-form__input-area .input-form__input-area3 #inp-message {
  width: 381px;
}

.container-background .contact__area .input-form__input-area .input-form__input-area3 #send-btn {
  background-color: transparent;
  position: relative;
  margin: 83px 100%;
  -webkit-transform: translate(-100%);
          transform: translate(-100%);
  color: black;
}

footer {
  background-color: #3c3c3c;
}

footer .footer-container {
  max-width: 900px;
  width: 100%;
  height: 275px;
  margin: 0 auto;
}

footer .footer-container .footer-container__logo {
  background-image: url(/img/logofooter.png);
  width: 124px;
  height: 78px;
  background-repeat: none;
  background-size: cover;
  position: relative;
  top: 50px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

footer .footer-container .footer-container__links {
  width: 400px;
  height: 20px;
  padding-top: 78px;
  margin: 0 auto;
}

footer .footer-container .footer-container__links a {
  height: 20px;
  color: #a4a4a4;
  float: left;
  position: static;
}

footer .footer-container .footer-container__links li {
  width: 90px;
  float: left;
  padding: 20px;
}

footer .footer-container .footer-container__rights {
  color: #5e5e5e;
  width: 200px;
  height: 20px;
  margin: 0 auto;
}
