@charset "UTF-8";
@media (max-width: 650px) {
  .md1 {
    display: none;
  }
}

a:hover {
  text-decoration: underline;
  color: black;
}

#menu__toggle {
  opacity: 0;
}

.hamburger-menu {
  height: 0;
}

/* стилизуем кнопку */
.menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* используем flex для центрирования содержимого */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* центрируем содержимое кнопки */
  position: fixed;
  top: 50px;
  right: 30px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

@media (min-width: 650px) {
  .menu__btn {
    display: none;
  }
}

/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
}

.menu__btn > span::before {
  content: '';
  top: -8px;
}

.menu__btn > span::after {
  content: '';
  top: 8px;
}

/* контейнер меню */
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #ECEFF1;
  -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
}

@media (min-width: 650px) {
  .menu__box {
    display: none;
  }
}

/* элементы меню */
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}

.menu__item:hover {
  background-color: #CFD8DC;
}

#menu__toggle:checked ~ .menu__btn > span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.menu__box {
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.menu__item {
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.title {
  text-transform: uppercase;
  font-family: "Arimo";
  font-size: 48px;
  line-height: 53px;
  letter-spacing: -0.035em;
  color: #22356F;
  font-weight: 700;
}

.sub-title {
  font-size: 24px;
  line-height: 42px;
  color: #22356F;
}

.orange-btn {
  letter-spacing: 0.1em;
  padding: 15px 38px;
  margin-right: 38px;
  background-color: #F9B640;
  color: #fff !important;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 23px;
}

.wrapper-main {
  font-family: "Arimo";
  padding: 10px;
  background-color: #f4f9e2;
}

.wrapper-main .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 1130px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  height: 77px;
}

.wrapper-main .header .header__menu {
  width: 708px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  z-index: 4;
}

.wrapper-main .header .header__menu li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 25px 0 0;
  z-index: inherit;
}

.wrapper-main .header .header__menu li a {
  position: relative;
  font-size: 14px;
  line-height: 16px;
  color: #22356F;
  z-index: inherit;
}

.wrapper-main .header .btn-wrap {
  z-index: 4;
}

.wrapper-main .header .btn-wrap .header__btn {
  width: 150px;
  height: 50px;
  background: #62D0DF;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  margin-top: 25px;
}

.header__logo {
  font-size: 24px;
  line-height: 27px;
  letter-spacing: -0.035em;
  color: #62D0DF;
  margin-top: 27px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 552px;
          flex: 0 1 552px;
  font-weight: 700;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 650px) {
  .main .image1 {
    display: none;
  }
}

.main .wrapper {
  position: relative;
  max-width: 1130px;
  margin: 0 auto;
}

.main .wrapper .header__logo {
  margin: 130px 0 0;
}

.main .wrapper .title {
  margin-top: 36px;
  max-width: 400px;
  height: 167px;
}

.main .wrapper .sub-title {
  width: 500px;
  position: relative;
  margin-top: 16px;
}

.main .wrapper .btn-position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 72px 0 0;
}

.main .wrapper .btn-position div {
  padding: 0 0 92px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 23px;
}

.main .wrapper .btn-position div a:last-child {
  letter-spacing: 0.1em;
  color: #F9B640;
}

.title-m {
  font-family: "Arimo";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 27px;
  letter-spacing: -0.006em;
  color: #FFFFFF;
}

.info {
  font-size: 24px;
  font-family: "Arimo";
  line-height: 34px;
  color: #FFFFFF;
}

.title-m-s {
  font-size: 16px;
  line-height: 12px;
  letter-spacing: 0.06em;
  font-family: "Arimo";
  color: #22356F;
}

.get-help {
  font-family: "Arimo";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.1em;
  color: #FAB63E;
}

.get-help a {
  color: #FAB63E;
}

.why {
  background-color: #62D0DF;
}

.why .why__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.why .why__wrapper .place-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

@media (max-width: 650px) {
  .why .why__wrapper .place-img {
    display: none;
  }
}

.why .why__wrapper .text {
  padding-left: 178px;
}

.why .why__wrapper .text .title-m {
  padding-top: 151px;
}

.why .why__wrapper .text .info {
  padding-top: 83px;
  max-width: 570px;
}

.about .about__wrapper .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.about .about__wrapper .text .title-m {
  padding-left: 108px;
  padding-top: 157px;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.06em;
  font-weight: normal;
  color: #22356F;
}

.about .about__wrapper .text .info {
  padding: 157px 0 0 225px;
  color: #22356F;
  line-height: 33px;
  letter-spacing: 0.005em;
  font-size: 24px;
  text-align: left;
  max-width: 817px;
}

.about .about__wrapper .about__help {
  margin: 50px auto 0;
  text-align: center;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.06em;
  color: rgba(34, 53, 111, 0.5);
  padding-bottom: 24px;
}

.kek {
  max-width: 255px;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  padding: 100px 0 0 75px;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 33px;
  letter-spacing: -0.006em;
  color: #FFFFFF;
  position: relative;
  display: list-item;
}

.kek::before {
  content: '•';
  color: #F9B640;
  position: absolute;
  -webkit-transform: translate(-20px);
          transform: translate(-20px);
}

.kek::after {
  content: '';
  width: inherit;
  top: 72px;
  left: 52px;
  height: 1px;
  background-color: #fff;
  position: absolute;
}

.help .help__wrapper .help__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.help .help__wrapper .help__list li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  height: 360px;
  text-align: center;
}

.help .help__wrapper .help__list #i1 {
  background-color: #FFE2DE;
}

.help .help__wrapper .help__list #i2 {
  background: #C4E769;
}

.help .help__wrapper .help__list #i3 {
  background: #62D0DF;
}

.help .help__wrapper .help__list #i4 {
  background: #0052C1;
}

.categories {
  margin: 120px 0 0 0;
}

.categories .categories__list {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template: 1fr 1fr / 1fr 1fr 1fr;
}

.categories .categories__list li {
  height: 480px;
}

.discription-cat .discription-cat__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template: 1fr 1fr / 1fr 1fr 1fr;
}

.discription-cat .discription-cat__list li {
  list-style: none;
  padding: 10%;
}

.discription-cat .discription-cat__list li a .title-m {
  font-size: 28px;
  line-height: 33px;
  letter-spacing: -0.03em;
  color: #22356F;
  font-weight: 300;
  padding: 55px 0 28px;
}

.discription-cat .discription-cat__list li a .info {
  max-width: 270px;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: -0.03em;
  color: rgba(34, 53, 111, 0.5);
}

.also .also__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.also .also__wrapper #o2 {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.33%;
          flex: 0 1 33.33%;
}

@media (max-width: 650px) {
  .also .also__wrapper #o2 {
    display: none;
  }
}

.also .also__wrapper .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 300px;
  width: 66.66%;
}

.also .also__wrapper .text .title-m-s {
  padding-top: 103px;
  padding-left: 106px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  font-size: 16px;
  line-height: 12px;
  text-transform: uppercase;
  color: #22356F;
}

.also .also__wrapper .text .info {
  font-family: "Arimo";
  padding-left: 106px;
  padding-top: 181px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  font-style: normal;
  max-width: 60 0px;
  font-weight: bold;
  font-size: 36px;
  line-height: 52px;
  letter-spacing: -0.01em;
  color: #22356F;
}

.also .also__wrapper .text .get-help {
  padding-left: 106px;
  padding-bottom: 42px;
}

.contact-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #22356F;
}

.contact-us .contact__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 550px;
  margin: 0 auto;
  padding: 10px;
}

.contact-us .contact__wrapper .title-m-s {
  padding-top: 103px;
  font-family: "Arimo";
  font-size: 16px;
  line-height: 12px;
  letter-spacing: 0.06em;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  color: #FFFFFF;
}

.contact-us .contact__wrapper .text {
  max-width: 775px;
}

.contact-us .contact__wrapper .text .title-m {
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 92px;
  letter-spacing: -0.01em;
  font-family: "Arimo";
  color: #FFFFFF;
  padding-bottom: 75px;
}

.contact-us .contact__wrapper .text .info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 36px;
  line-height: 53px;
  letter-spacing: -0.005em;
  font-family: "Arimo";
  color: #FFFFFF;
}

.contact-us .contact__wrapper .text .get-help {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding: 72px 0 42px;
}

.contact-us .contact__wrapper #p2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

@media (max-width: 650px) {
  .contact-us .contact__wrapper #p2 {
    display: none;
  }
}

.pre-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.pre-footer img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  max-width: 33.333%;
}

.pre-footer .categories-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 66.666%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.pre-footer .categories-footer .cat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 290px;
}

.pre-footer .categories-footer .cat .title2 {
  max-width: 160px;
  margin: 0 auto;
  font-weight: bold;
  font-size: 14px;
  line-height: 10px;
  letter-spacing: -0.006em;
  font-family: "Arimo";
  color: #22356F;
  padding: 92px 0 52px;
}

.pre-footer .categories-footer .cat .info {
  max-width: 160px;
  margin: 0 auto;
  font-family: "Arimo";
  font-size: 14px;
  line-height: 23px;
  letter-spacing: -0.006em;
  color: rgba(34, 53, 111, 0.5);
}

.cat.info {
  display: inline-block;
  margin: 0 auto;
  text-align: left;
}

.cat.info a {
  width: 170px;
  font-family: "Arimo";
  font-size: 14px;
  line-height: 23px;
  letter-spacing: -0.006em;
  margin: 0 auto;
  color: rgba(34, 53, 111, 0.5);
}

footer {
  background: #62D0DF;
  min-height: 80px;
  font-family: Arimo;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 10px;
  letter-spacing: -0.006em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 170px;
  color: #FFFFFF;
}
