@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('/css/__normalize.css');
$width-contain: (max-width 900px);



%text-about {
    font-size: 14px;
    text-align: center;
    height: 66px;
    font-family: 'Lato', sans-serif;
    color: #969595;

}

%line-sample {
    text-align: center;
    margin: 0 auto;
    width: 105px;
    border-bottom: 2px solid white;
    padding-top: 2%;
}

// ---------------------------------------------------------------------------------------------------------------------------------HEADER-----------------
header {
    height: 100%;

    width: 100%;
    margin: 0 auto;
    position: relative;
    
    .header-top {
        
        background-image: url(/img/BG-Header.png);
        background-size: cover;
        background-position: center;
        width: "device-width";
        height: 100%;
        z-index: 1;

    }
   
    }

    .header-top__logo {
        background: url(/img/logo.png) no-repeat center;
        padding: 165px 0;
        z-index: 2;
       
    }

    .header-top__phrase1 {
        font-size: 34px;
        font-family: 'Lato', sans-serif;
        text-transform: uppercase;
        text-align: center;
        color: rgb(255, 255, 255);
        letter-spacing: 5px;
        text-shadow: 1px 1px;
        @media screen and (min-width: 768px){
            font-size: 20px;
            
        }
    }

    .header-top__phrase2 {
        font-size: 34px;
        font-family: 'Lato', sans-serif;
        text-align: center;
        color: rgb(255, 255, 255);
        letter-spacing: 5px;
        padding: 26px 0;
    }

    .header-top__line {
        text-align: center;
        margin: 0 auto;
        width: 105px;
        border-bottom: 2px solid white;
        padding-top: 2%;
    }

    .header-top__btn {
        a {
            margin-top: 5%;
            display: inline-block;
            font-family: 'Lato', sans-serif;
            color: white;
            text-transform: uppercase;
            letter-spacing: 1px;
            border: 1px solid white;
            margin-left: 50%;
            transform: translate(-50%);
            padding: 16px 40px 18px 40px;
            color: white;

            &:hover {
                color: black;
            }
        }
    }

    .header-top__arrow {
        background-image: url(/img/Arrow-down.png);
        width: 20px;
        height: 8px;
        background-position: center;
        background-repeat: no-repeat;
        margin: 0 auto;
        padding-top: 75px;
    }

    // ---------------------------------------------------------------------------------------------------------------------------------HEADER-BOT-----
    .header-bottom__line {
        border-bottom: 1px solid #f2f2f2;
    }

    .header-bottom {
        height: 58px;
        margin: 0 auto;
        max-width: 900px;
        justify-content: center;
    }

    .header-bottom__menu {
        max-width: 560px;
        margin: 0 auto;
    }

    .header-bottom__menu a {
        float: left;
        color: #3c3c3c;
        width: 90px;
        font-size: 15px;
        text-align: center;
        font-weight: bold;
        font-family: 'Lato', sans-serif;
        margin: 20px 25px;

        &:hover {
            color: rgb(173, 160, 116);
        }

    }


// --------------------------------------------------------------------------------------------------------------------------------------------------
%about__colums {
    width: 300px;
    margin: 65px auto;
    float: left;

}

%about__colums__icon {
    width: 43px;
    height: 30px;
    color: #ada074;
    padding: 46px;
    background-repeat: no-repeat;
    border: 1px solid #f0f0f0;
    border-radius: 50px;
    background-position: center;
    margin: 0 auto;

    @media screen and (max-width: 767px) {
        display: none;
    }

}

%about__colums__title {
    font-size: 22px;
    letter-spacing: 4px;
    color: black;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    margin-top: 40px;

    @media screen and (max-width: 800px) {
        font-size: 14px;
        letter-spacing: normal;
    }
}

%about__colums__text {
    min-height: 170px;
    margin: 0 auto;
    width: 184px;
    line-height: 26px;
    font-family: 'Lato', sans-serif;


}

// ---------------------------------------------------------------------------------------------------------------------------------CONTAINER-----------------
.container {
    margin: 0 auto 68px;
    max-width: 900px;
    height: 580px;
    justify-content: center;

    .about__title {
        font-family: 'Lato', sans-serif;
        ;
        font-size: 26px;
        color: rgb(0, 0, 0);
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 8px;
        margin-top: 188px;
    }

    .about__line {
        @extend %line-sample;
        border-color: black;
        width: 83px;
    }

    .about__text {
        @extend %text-about;
        line-height: 1.857;
        max-width: 688px;
        height: auto;
        padding-top: 40px;
        margin-left: 50%;
        transform: translate(-50%);
    }


    .about__colums {
        @media screen and (min-width:767px) {}
    }

    .about__colums1 {
        @extend %about__colums;

        .about__colums1__icon {
            background-image: url(/img/web.png);
            @extend %about__colums__icon;
        }

        .about__colums1__title {
            @extend %text-about;
            @extend %about__colums__title;
        }

        .about__colums1__text {
            @extend %text-about;
            @extend %about__colums__text;
        }
    }

    .about__colums2 {
        @extend %about__colums;

        .about__colums2__icon {
            background-image: url(/img/phones.png);
            @extend %about__colums__icon;
        }

        .about__colums2__title {
            @extend %text-about;
            @extend %about__colums__title;
        }

        .about__colums2__text {
            @extend %text-about;
            @extend %about__colums__text;
        }
    }

    .about__colums3 {
        @extend %about__colums;

        .about__colums3__icon {
            background-image: url(/img/marketing.png);
            @extend %about__colums__icon;
        }

        .about__colums3__title {
            @extend %text-about;
            @extend %about__colums__title;
        }

        .about__colums3__text {
            @extend %text-about;
            @extend %about__colums__text;
        }
    }


}

// -----------------------------------------------------------------------------------------------------------------------------------CONTAINER---------------
// ---------------------------------------------------------------------------------------------------------------------------------CONTAINER-BOTTOM-----------------
%portfolio-colums {
    max-width: 538px;
    max-height: 365px;
    width: 100%;
    height: 100%;
    float: left;
    margin: 20px 30px;
    background-color: #eaeaea;

    @media screen and (max-width: 788px) {
        float: none;
        width: auto;
        height: auto;

    }

    // background-image: url(/img/538.png);
}






.container-background {
    background-color: #f3f3f3;

    .portfolio__column {
        width: 1200px;
        height: 1300px;
        margin: 0 auto;

        .portfolio_colum1 {
            @extend %portfolio-colums;
        }

        .portfolio_colum2 {
            @extend %portfolio-colums;
        }

        .portfolio_colum3 {
            @extend %portfolio-colums;
        }

        .portfolio_colum4 {
            @extend %portfolio-colums;
        }

        .portfolio_colum5 {
            @extend %portfolio-colums;
        }

        .portfolio_colum6 {
            @extend %portfolio-colums;
        }
    }

    .read__more {

        a {
            display: inline-block;
            font-family: 'Lato', sans-serif;
            color: #3d3d3d;
            text-transform: uppercase;
            letter-spacing: 1px;
            border: 1px solid black;
            margin-left: 50%;
            transform: translate(-50%);
            padding: 16px 40px 18px 40px;
            margin-bottom: 64px;
            color: black;

            &:hover {
                color: white;
            }
        }

    }

    .container-bottom {
        margin: 0 auto;
        max-width: 900px;
        text-align: center;


        .portfolio__title {
            @extend %about__colums__title;
            font-size: 34px;
            text-transform: uppercase;
            font-weight: bold;
        }

        .portfolio__line {
            padding-top: 40px;
            border-bottom: 1px solid black;
            margin: 0 auto;
            width: 80px;
        }

        .portfolio__link {
            height: 50px;
            margin: 0 auto;
            max-width: 340px;

            a {
                padding: 25px 24px;
                font-family: 'Lato', sans-serif;
                color: black;
                float: left;
                text-decoration: none;

                &:hover {
                    color: #ada074;
                }
            }
        }
    }

    .our-partners__background {
        height: 100%;
        width: 100%;
        height: 390px;
        margin: 0 auto;
        position: relative;
        background-image: url(/img/our-partners.png);
        background-size: cover;
        background-position: center;

        .our-partners {
            width: "device-width";
            height: 390px;
            z-index: 1;

        }
    }

    .our-partners__title {
        @extend %text-about;
        color: white;
        position: relative;
        letter-spacing: 1.5px;
        font-weight: 300;
        max-width: 200px;
        margin: 0px auto 100px;
        padding: 100px 0px 0px;
        font-size: 30px;
    }

    .our-partners__filials {
        width: 500px;
        margin: 0 auto;
    }

    %fil {
        width: 36px;
        height: 47px;
        z-index: 3;
        color: white;
        float: left;
        background-repeat: no-repeat;
        display: block;
        margin: 0 30px;
    }

    #fil1 {
        background-image: url(/img/logo-1.png);
        @extend %fil;

    }

    #fil2 {
        background-image: url(/img/logo-2.png);
        @extend %fil;
        height: 63px;
        width: 50px;

    }

    #fil3 {
        background-image: url(/img/logo-3.png);
        @extend %fil;
        width: 53px;
        height: 63px;

    }

    #fil4 {
        background-image: url(/img/logo-4.png);
        @extend %fil;
        width: 105px;
        height: 45px;
    }

    .contact__area {
        background-color: #fff;

        .contact__title {
            text-transform: uppercase;
            font-size: 33.713px;
            font-family: 'Lato', sans-serif;
            color: rgb(0, 0, 0);
            font-weight: bold;
            line-height: 1.2;
            text-align: center;
            padding: 105px 0 0;

        }

        .contact__line {
            width: 81px;
            margin: 0 auto;
            border-bottom: 1px solid black;
            padding: 20px 0;

        }

        .input-form {
            max-width: 900px;
            margin: 0 auto;
            padding: 120px 0px 0px;
            height: 600px;

            .input-form__info {
                width: 50%;
                margin: 0 0 0 50%;

                .input-form__info__text {
                    @extend %text-about;
                    color: black;
                    text-align: left;
                    line-height: 25px;
                }

                p {
                    font-weight: bold;
                    @extend %text-about;
                    color: black;
                    text-align: left;
                    margin: 40px 0 10px;
                    height: 15px;
                }

                #social-links {

                    #link-f {
                        background-image: url(/img/Facebook.png);
                        width: 40px;
                        height: 40px;
                        background-repeat: no-repeat;
                        border: 2px solid black;
                        border-radius: 20px;
                        background-position: center;
                        display: inline-block;
                        margin: 0 0 20px;

                    }

                    #link-in {
                        background-image: url(/img/in.png);
                        width: 40px;
                        height: 40px;
                        background-position: center;
                        background-repeat: no-repeat;
                        border: 2px solid black;
                        border-radius: 20px;
                        display: inline-block;
                        margin: 0 0 20px;


                    }


                }

                a {
                    @extend %text-about;
                    color: black;
                    width: 200px;

                }
            }


        }

        .input-form__input-area {
            float: left;
            margin-right: 80px;
            width: 381px;
            height: 366px;

            #text-info {
                width: 100px;
                font-size: 14px;
                font-weight: bold;
                text-transform: uppercase;
                line-height: 1.2;
                color: rgb(0, 0, 0);
                padding-bottom: 20px;
                font-family: 'Lato', sans-serif;
                letter-spacing: 1px;

            }

            input {
                width: 100%;
                height: 118px;
                border-top: 1px solid black;
                background-color: #f8f7f7;
            }

            .input-form__input-area1 {
                width: 160px;
                display: inline-block;
                margin-right: 50px;

                #inp-name {
                    height: 36px;
                }
            }

            .input-form__input-area2 {
                width: 160px;
                display: inline-block;

                #inp-email {
                    height: 36px;
                }
            }

            .input-form__input-area3 {
                width: 381px;
                margin: 70px 0;
                display: inline-block;

                #inp-message {
                    width: 381px;
                }

                #send-btn {
                    background-color: transparent;
                    position: relative;
                    margin: 83px 100%;
                    transform: translate(-100%);
                    @extend %text-about;
                    color: black;

                }
            }


        }
    }
}

footer {
    background-color: #3c3c3c;

    .footer-container {
        max-width: 900px;
        width: 100%;
        height: 275px;
        margin: 0 auto;

        .footer-container__logo {
            background-image: url(/img/logofooter.png);
            width: 124px;
            height: 78px;
            background-repeat: none;
            background-size: cover;
            position: relative;
            top: 50px;
            left: 50%;
            transform: translate(-50%);

        }

        .footer-container__links {
            width: 400px;
            height: 20px;
            padding-top: 78px;
            margin: 0 auto;

            a {
                @extend %text-about;
                height: 20px;
                color: #a4a4a4;
                float: left;
                position: static;
            }

            li {
                width: 90px;
                float: left;
                padding: 20px;
            }
        }

        .footer-container__rights {
            color: #5e5e5e;
            width: 200px;
            @extend %text-about;
            height: 20px;
            margin: 0 auto;
        }
    }
}