@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700;1,900&display=swap");

$ff    : "Poppins";
$grey  : rgba(56, 88, 4, 0.08);
$dgrey : #c4c4c4;
$green : #385804;
$lg    : 1440px;



* {
  font-family: $ff;
  font-size  : 10px;

  a {
    color     : black;
    transition: transform 0.2s linear;
    transform : scale(1);
  }

  a:hover {
    transition: 0.2s all linear;
    transform : scale(1.2);
  }
}

body {
  display        : flex;
  flex-direction : column;
  justify-content: space-between;


  section {
    display       : flex;
    flex-direction: column;
    padding       : 0 15px;
    width         : 100%;
  }
}

.active {
  font-weight: 700;

  a {
    width   : fit-content;
    position: relative;

    &::before {
      content      : '';
      border-bottom: 2px solid black;
      position     : absolute;
      width        : 30%;
      height       : 4px;
      left         : 35%;
      top          : 120%;
    }
  }
}

// ----------------------------------------------------------------------------------------------------------------
header {
  background-color: rgba(56, 88, 4, 0.08);
  display         : flex;
  flex-direction  : row;
  justify-content : center;
  height          : 165px;

  .header__wrapper {
    max-width     : 144rem;
    width         : 100%;
    display       : flex;
    flex-direction: row;


    .header__logo {
      display    : flex;
      align-items: center;
      padding    : 50px 100px;

      a {
        transform: none;
      }

      img {
        height: 64px;
        width : 64px;
      }
    }

    .header__memu {
      display       : flex;
      flex-direction: row;

      .header__memu--item {
        padding    : 0 55px 0 0;
        font-family: $ff;
        color      : black;

        display    : flex;
        align-items: center;

        a {
          font-size  : 22px;
          font-family: $ff;



        }
      }
    }
  }
}

.title {
  font-family: $ff;
  font-weight: bold;
  line-height: 96px;
  font-size  : 64px;

  max-width: 50%;
  min-width: 600px;
  color    : #26313B;



}

.topic {
  max-width     : 494px;
  width         : 100%;
  font-family   : $ff;
  font-size     : 28px;
  line-height   : 42px;
  font-weight   : bold;
  padding-bottom: 50px;
}

.text {
  font-size  : 24px;
  line-height: 36px;
  font-weight: normal;
  max-width  : 494px;
}

footer .text {
  font-size: 22px;
}

.first__page {
  background-color: $grey;
}


.btn {
  width           : 307px;
  height          : 78px;
  background-color: $green;
  color           : #fff;
  margin          : 45px 0 0 0;

  transition: transform .6s linear;
  transform : scale(1);

  &:hover {
    transition: transform .6s linear;
    transform : scale(1.05);

  }

}

.combining {
  max-width : $lg;
  min-height: 850px;
  height    : fit-content;
  width     : 100%;
  margin    : 0 auto;
  position  : relative;

  display       : flex;
  flex-direction: row;

  justify-content: space-between;
  flex-wrap      : nowrap;

  .combining__text {
    max-width: 662px;
    padding  : 0 30px 0 0;
  }

  .combining__text--img {
    width  : 50%;
    display: flex;

    img {
      max-width       : 602px;
      min-height      : 902px;
      background-color: $dgrey;

      position: relative;

      top: 10%;

      @media screen and (max-width: 1200px) {
        position: static;
        width   : fit-content;
        margin  : 20% 0 0 15px;


      }
    }






  }

}

.yourroom {
  max-width: 1250px;
  margin   : 250px auto;

  display       : flex;
  flex-direction: row;

  flex-wrap: wrap;

  .yourroom__text {
    width: 50%;
  }
}

.yourroom__text--li {
  position: relative;
  display : list-item;
  margin  : 0 0 35px 90px;

  &::before {
    content         : '';
    position        : absolute;
    background-color: $green;
    border-radius   : 100%;
    left            : -90px;
    top             : 50%;
    transform       : translate(0, -50%);
    width           : 45px;
    height          : 45px;


  }
}

.choose {
  min-width: 1248px;
  width    : 100%;

  color: #fff;

  margin: 0 auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background-color: $green;
  z-index: 0;

  .btn{
    background-color: #fff;
    color: $green;
  }

  .title{
    color: white;
    font-weight: 700;
  }
}

.choose__img{
    background-color: $grey;
    max-width: 483px;
    max-height: 497px;
    z-index: 1;
    
    width: 100%;
}