// Constant


$fftop: 'Gelasio-Regular', serif;
$fftext: 'Roboto-Regular', sans-serif;
$fffot: 'Poppins-Regular', sans-serif;

$bl: #1B75BB;

$xl: 1600px;
$lg: 1140px;
$md: 720px;
$sm: 576px;

// font-size: calc(24px + 16 * ((100vw - 320px) / (1280 - 320)));








