// Constant

$fftop: 'Gelasio-Regular',
serif;
$fftext: 'Roboto-Regular',
sans-serif;
$fffot: 'Poppins-Regular',
sans-serif;

$bl       : #1B75BB;
$dbl      : #081F32;
$bgr-color: #E5E5E5;

$xl: 1600px;
$lg: 1140px;
$md: 720px;
$sm: 576px;


a:visited {
    text-decoration: none;
    color          : inherit;
}

body {
    background-color: $bgr-color;

}

a {
    transform : scale(1);
    transition: all .6s ease-in-out;

    &:hover {
        transform : scale(1.2);
        transition: all .6s ease-in-out;
    }
}

// *{
//     font-size: calc(24px + 16 * ((100vw - 320px) / (1280 - 320)));

// } 
.pre-title {
    font-family: $fftext;
    color      : $bl;
    font-style : normal;
    font-weight: 500;
    font-size  : 20px;
    line-height: 150%;

    letter-spacing: 0.1em;
    text-transform: uppercase;

    opacity: 0.8;

    margin-bottom: 15px;

}

.title {
    font-family: $fftop;
    color      : $dbl;
    font-style : normal;
    font-weight: 500;
    font-size  : 32px;
    line-height: 140%;

    margin-bottom: 30px;

}

.text {
    font-family: $fftext;
    font-style : normal;
    font-weight: normal;
    font-size  : 18px;
    line-height: 160%;

    color: $dbl;

    opacity      : 0.6;
    margin-bottom: 30px;
}

h1 {
    font-family: $fftop;
    font-weight: 600 !important;
    font-size  : 57px;
    line-height: 120%;
    color      : $dbl;

    max-width    : 456px;
    margin-bottom: 25px;

    span {
        color: $bl;
    }

}

.header {
    padding: 0 15px;

    max-width    : $xl;
    margin       : 0 auto;
    height       : 128px;
    margin-bottom: 78px;

    &__wrapper {
        display        : flex;
        justify-content: space-between;
        height         : 100%;


        .brand {
            text-transform : capitalize;
            font-family    : $fftop;
            color          : black;
            position       : relative;
            font-size      : 24px;
            display        : flex;
            justify-content: center;
            align-self     : center;
            text-indent    : 65px;
            font-weight    : 500;

            &:hover {
                transform: none;
            }

            &::before {
                content          : '';
                background-image : url(/img/brand.png);
                position         : absolute;
                top              : 0;
                left             : 0;
                min-width        : 186px;
                height           : 144px;
                transform        : translate(0, -30%);
                background-repeat: no-repeat;


            }


        }
    }
}


nav {
    display    : flex;
    align-items: center;
}

.header__menu {
    padding: 0 15px;


    .header__menu__item {

        display: inline-block;
        color  : #081F32;

        font-family : $fftop;
        font-weight : 500;
        font-size   : 16px;
        line-height : 150%;
        margin-right: 40px;

        &:last-child {
            margin: 0;
        }


        &__active {
            color: #1B75BB;

            &:hover {
                transform: none;
                cursor   : pointer;
            }
        }
    }


}

.btn {
    background   : $bl;
    border-radius: 5px;
    padding      : 15px 30px;

    font-family: $fftop;
    font-weight: 500;
    font-size  : 16px;
    line-height: 24px;

    display   : flex;
    align-self: center;
    color     : #fff;

    transform : scale(1);
    transition: transform .6s ease-in-out;

    &:hover {
        transform : scale(1.1);
        transition: all .6s ease-in-out;
    }
}

.first-page {
    padding: 0 15px;

    margin-bottom: 200px;

    &:before {
        content            : '';
        background-image   : url(/img/room.png);
        background-size    : cover;
        background-repeat  : no-repeat;
        background-position: center;
        width              : 100%;
        min-height         : 690px;
        position           : absolute;
        top                : 0;
        left               : 0;
        z-index            : -10;
    }

    .first-page__wrapper {
        max-width: $lg;
        margin   : 0 auto;

        .text {
            max-width    : 347px;
            margin-bottom: 30px;
        }
    }
}

.video-slider {
    padding: 0 15px;

    display        : flex;
    justify-content: space-around;
    max-width      : $xl;
    margin-bottom  : 130px;

    .video-slider__wrapper {
        margin   : 0 auto;
        position : relative;
        max-width: 50%;


        img {
            width        : 630px;
            height       : 325px;
            border-radius: 10px;
            transform    : scale(0.8);
            transition   : transform .6s ease-in-out;
            left         : 0;
            top          : 0;

            &:last-child {
                position: absolute;
                left    : 80px;
                top     : -60px;
                z-index : -100;
                opacity : 0.6;
            }
        }
    }
}

.video-slider__right {

    max-width: 50%;

    .title {
        max-width  : 430px;
        font-weight: 500;
    }

}

.achievements {
    padding: 0 15px;

    margin-bottom: 150px;

    .achievements__wrapper {
        display       : flex;
        flex-direction: column;

        max-width: $xl;
        margin   : 0 auto;

        .achievements__title {
            text-align   : center;
            margin-bottom: 60px;

            .text {
                max-width : 820px;
                text-align: center;
                margin    : 0 auto;
            }
        }

        .achievements__list {
            display       : flex;
            flex-direction: row;
            flex-wrap     : wrap;
            max-width     : $xl;

            margin: 0 auto;

            .achievements__item {
                max-width    : 262px;
                background   : rgba($color: #fff, $alpha: 0.1);
                border       : 1px solid rgba($color: #000000, $alpha: 0.1);
                box-sizing   : border-box;
                box-shadow   : 0px 4px 30px rgba(199, 199, 199, 0.25);
                border-radius: 5px;
                margin       : 0 30px 0 0;

                &:last-child {
                    margin: 0;
                }

                display       : flex;
                flex-direction: column;

                img {
                    margin: 21px auto 41px;
                    width : 74px;
                    height: 72px;
                }

                .title {
                    font-size    : 24px;
                    text-align   : center;
                    margin-bottom: 15px;

                }

                .text {
                    text-align   : center;
                    margin-bottom: 18px;
                }
            }
        }

    }
}

.gallery {
    max-width: $lg;
    margin   : 0 auto 140px;
    padding  : 0 15px;

    .gallery__wrapper {
        display              : grid;
        grid-template-columns: 1fr 1fr;
        gap                  : 30px;

        .gallery__about {
            max-width : 555px;
            max-height: 337px;
            width     : 100%;
            height    : 100%;

            .title {
                margin-top: 45px;
            }

            .text {
                max-width: 80%;
            }
        }

        .gallery__item {
            max-width : 555px;
            max-height: 337px;
            width     : 100%;
            height    : 100%;
            position  : relative;

            img {
                width: 100%;
            }

            &:nth-child(odd) {
                margin: 0 30px 0 0;
            }

            .gallery__item__description {
                position: absolute;
                width   : 42%;
                height  : 37%;
                bottom  : 0;
                left    : 0;

                background     : rgba(226, 226, 226, 0.4);
                backdrop-filter: blur(10px);
                border-radius  : 10px;

                .title {
                    font-size  : 18px;
                    line-height: 28px;
                    margin     : 23px 0 10px 28px;

                }

                .btn {
                    margin: 0 0 0 28px;
                }

                .gallery__item__price {
                    position   : absolute;
                    right      : 28px;
                    top        : 23px;
                    font-family: $fftext;
                    font-style : normal;
                    font-weight: normal;
                    font-size  : 12px;
                    line-height: 160%;
                    color      : #081F32;
                    opacity    : 0.8;

                    span {
                        font-family: $fftext;
                        font-size  : 14px;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}

.reviews {
    max-width: $lg;
    margin   : 0 auto 140px;

    .reviews__wrapper {

        .reviews__title {
            display        : flex;
            flex-direction : row;
            justify-content: space-between;
            margin-bottom  : 60px;
        }

        .reviews__list {
            display       : flex;
            flex-direction: row;

        }

        .reviews__item {
            max-width    : 360px;
            position     : relative;
            margin       : 0 30px 0 0;
            border       : 1px solid rgba(0, 0, 0, 0.1);
            box-sizing   : border-box;
            border-radius: 10px;
            opacity      : 0.7;
            background-color: transparent;
            transition: background-color .2s ease-in-out;

            &:last-child {
                margin: 0;
            }

            .reviews__item__img {
                margin   : 0 auto;
                width    : 150px;
                z-index  : 0;
                transform: translate(-20%, 0);
            }

            .reviews__item__img__circle {
                width        : 100px;
                height       : 100px;
                border-radius: 100px;
                border       : 2px solid $bl;
                margin       : 25px auto 28px;
                overflow     : hidden;
                top          : 0;
                left         : 0;
                z-index      : 10;
            }


            .text {
                text-align   : center;
                padding      : 0 40px;
                margin-bottom: 30px;
            }

            .reviews__item__name {

                font-family  : $fftop;
                font-weight  : 500;
                font-size    : 20px;
                line-height  : 150%;
                text-align   : center;
                color        : #000;
                margin-bottom: 5px;
            }

            .quotes {
                font-size  : 60px;
                font-weight: 500;
                font-family: $fftop;
                transform  : rotate(180deg);
                position   : absolute;
                top        : 35%;
                left       : 10%;
                opacity    : 0.5;

            }

            .reviews__item__link {
                display        : flex;
                justify-content: center;
                font-family    : $fftext;
                font-weight    : normal;
                font-size      : 14px;
                line-height    : 160%;
                text-align     : center;
                color          : #000;
                margin-bottom  : 27px;
            }
        }
    }
}

.email-form {
    padding: 0 15px;

    max-width : $lg;
    margin    : 0 auto 124px;
    text-align: center;

    .pre-title {
        margin-bottom: 20px;
    }

    .title {
        max-width    : 985px;
        text-align: center;
        margin: 0 auto 50px;
    }


}

.email__input {
    display       : flex;
    flex-direction: row;
    flex          : 1 1 auto;
    margin        : 0 auto;
    max-width: 569px;
}

.email__area {
    height: 54px;
    width : 70%;

    border       : 1px solid rgba(0, 0, 0, 0.1);
    box-sizing   : border-box;
    border-radius: 5px;
    font-family  : $fffot;

    font-size  : 16px;
    line-height: 150%;
    text-align : center;

    color           : #081F32;
    background-color: $bgr-color;
    padding         : 15px 30px;
}

.btn {
    font-family: $fffot;
}


.footer {
    background-color: #fff;
    width           : 100%;

    .brand{
        transform: translate(0, -25%);
    }

    .title {
        text-transform: uppercase;
        font-weight   : bold;

    }

    .footer__wrapper {
        max-width: $lg;
        padding  : 54px 0;
        margin   : 0 auto;

        display        : flex;
        flex-direction : row;
        justify-content: space-between;


    }

    .footer__item {
        &:first-child {
            flex: 0 0 25%;
        }

        .title{
            font-size: 20px;
            font-weight: bold;
            font-family: $fffot;

        }
        &__grid {
            display              : grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows   : 1fr 1fr 1fr 1fr;
            gap                  : 20px;

            // margin-top: 24px;


            a{
                font-size: 16px;
                font-family: $fffot;

                &:nth-child(-n+2){
                    font-size: 20px;
                    font-weight: bold;
                    margin-bottom: 20px;
                }
            }
        }
    }
}



.social {
    display       : flex;
    flex-direction: row;

    .social__item {
        margin-right: 25px;

        img {
            width : 20px;
            height: 20px;
        }

    }

    &:last-child {
        margin: 0;
    }
}


.swiper-slide-next{
    opacity: 1 !important;
    background-color: #fff !important;
    transition: bacground-color .6s ease-in-out !important;
}